.select__box--wrap {
  margin: 0px 200px;
  display: flex;
  justify-content: start;
  margin-top: 70px;
}

.select__box{
  border: 4px solid var(--background-color);
  background-color: var(--background-color);
  padding: 4px 10px;
  font-weight: bold;
  color: white;
}

.select__box1{
  border: 4px solid var(--background-color);
  padding: 4px 10px;
}

.title__box {
  margin: 0px 200px;
  padding: 20px 0px;
  background-color: var(--background-color);
  min-width: 360px; 
}

.title {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: white;
}

.form__box {
  border: 8px solid var(--background-color);
  /* background-color: var(--background-color); */
  padding: 30px 70px 30px 70px;
  margin: 0px 200px 100px;
  min-width: 360px;    
}

.form__submitbtn {
  border: 1px solid var(--main-color);
  background-color: brown;
  background-color: var(--main-color) !important;
  color: white;
  width: 100%;
  font-weight: bold;
  padding: 10px 50px;
  margin: 15px 0px;
}

.login__btn--kakao {
  width: 100%;
  height: 44px;
  background-color: rgb(254, 229, 0);
  display: flex;
  align-items: center;
  padding: 0px 30px;
  margin-bottom: 15px;
}

.login__btn--kakaotext {
  color:rgb(25, 21, 2);
  font-weight: bold;
  margin: auto;
}

.login__btn--naver {
  width: 100%;
  height: 44px;
  background-color: rgb(3, 199, 90);
  display: flex;
  align-items: center;
  padding: 0px 30px;
}

.login__btn--navertext {
  color: white;
  font-weight: bold;
  margin: auto;
}

@media (max-width:660px) {
  .form__box{
    margin: 0px 0px 50px;
    padding: 30px 40px;

  }
  .select__box--wrap {
    margin: 50px 0px 0px;
  }

  .title__box {
    margin: 0px 0px;
  }

}

.form__field {
  border-bottom: 2px solid var(--main-color);
  margin: 0px 0px 20px 0px;    
}

.form__submitbtn:hover {
  border: 1px solid var(--main-color);
  color: black;
  background-color: white !important;
}

.login__btn--naver:hover,
.login__btn--kakao:hover{
  filter: brightness(1.1);
}