th {
  display: flex;
  align-items: start;
  width: 50px;
}

.mountains__detail--warp {
  margin: 30px 16%;
  padding: 0px 16px;
  min-width: 430px;
  position: relative;
}

/* section1 */

.mountains__detail--titlebox {
  margin-bottom: 15px;
}

.mountains__detail--title {
  font-size: 2rem;
  font-weight: bold; 
}

.mountains__detail--subtitle {
  color: var(--sub-color);
}

.mountains__detail--imgbox {
  position: relative;
  width: 55%;
  height: 0;
  padding-bottom: 47%;
}

.mountains__detail--img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;  
}

.mountains__detail--infobox {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mountains__detail--info {
  position: relative;
  width: 39%;
}

.mountains__detail--stat {
  font-size: 1.1rem;
  margin-bottom: 16px;
}

.mountain__detail--mapbtn {
  position: absolute;
  right: 0;
  bottom: 0;
}

.modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#mountain-map {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}

/* section2 */

.mountains__detail--weather {
  width: 47%;
}

.weather--wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

.weather--sky {
  position: relative;
  width: 50%;
  padding: 10px;
}

.weather--skyimg {
  width: 100%;
  height: 100%;
  object-fit: cover;  
}

.weather--tem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: bold;
}

.weather--hvwr {
  font-size: 1.3rem;
  text-align: center;
}

.air--warp {
  width: 25%;
}

.air--imgbox {
  position: relative;
  width:100%;
  padding: 15px;
}

.air--img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.air--fine_dust {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width:100%;
  height: 47%;
}

.air--ozone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width:100%;
  height: 47%;
}

.mountains__detail--newslist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 47%;
  position: relative;
}

.mountains__detail--newstitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.mountains__detail--newsitem > p {
  margin-bottom: 10px;
  font-size: 1.1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* section3 */
.mountain__detail--coursetitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.mountain__detail--courselist {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mountain__detail--course {
  flex-grow: 1;
  width: 100%;
}

.bookmark--style{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 40px;
  color: var(--main-color)
}

.bookmark--style:hover{
  color: var(--green-btn);
}

.btn--spot{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 35px;
  color: var(--red-color);
  z-index: 10;
}

/* section4-리뷰작성 */
.review__submit--btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.mountain__reviewcrt--contbox {
  padding: 10px;
}

.mountain__reviewcrt--cont {
  border: solid 1px #777777;
  width: 100%;
  padding: 10px;
  height: 150px;
}

.mountain__reviewcrt--imgbox {
  position: relative;
  width: 160px;
  height: 160px;
  border: dashed 2px #777777;
  overflow: hidden;
}

.mountain__reviewcrt--imgbox input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.preview-image {
  object-fit: cover;
  width: 100%;
}

.img--plus{
  position: absolute;
  font-size: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mountain__reviewcrt--tagbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 10px;
}

.mountain__reviewcrt--tagbox > li > label{
  display: flex;
  flex-direction: row;
  margin-left: 8px;
}

.mountain__reviewcrt--tagbox > li > label > input{
  margin-right: 3px;
}

/* section5-리뷰 */
.mountain__detail--reviewtitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.mountain__detail--reviewtitle2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  margin-left: 10px;
  color : var(--main-color)
}

.mountain__detail--reviewbox {
  position: relative;
  padding: 10px;
}

.mountain__detail--contentbox {
  width: 70%;
  padding: 10px;
}

.mountain__detail--reviewuser {
  font-weight: bold;
}

.mountain__detail--reviewinfo {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.mountain__detail--reviewuserstat {
  margin-left: 10px;
}

.mountain__detail--reviewimgbox {
  position: relative;
  width: 45px;
  height: 45px;
}

.mountain__detail--reviewimg {
  object-fit: cover;
  width: 100%;
}

.mountain__detail--reviewcontimgbox {
  position: relative;
  width: 160px;
  height: 160px;
}

.mountain__detail--reviewcontimg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.mountain__detail--reviewbox {
  position: relative;
  display: flex;
  flex-direction: row;
}

.mountain__detail--reviewcrt {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 10px;
  right: 10px;
  color: #777777;
}

.mountain__detail--updatebox {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 10px;
  right: 10px;
}

.mountain__detail--reviewtagbox{
  display: flex;
  flex-direction: row;
  margin: 0 5px 0 5px;
}

/* side btn */
.mountain__btn--style {
  border: solid 1px var(--sub-color);
  background-color: rgba(255,255,255,0.5);
  box-shadow: rgba(63, 71, 77, 0.25) 0px 2px 10px !important;
  border-radius : 100%;
  width: 50px;
  height: 50px;
  padding: 12px;
  margin: 10px 5px;
}

.mountain__btn--style2 {
  margin: 5px 20px;
}

.mountain__btn__wrap{
  position: fixed;
  top:40%;
  right:120px;
}

.like__hover:hover{
  color: var(--background-color);
}

.heart--color {
  color: var(--red-color);
}

.icon--size {
  font-size: 16px
}

.icon--size1 {
  font-size: 20px
}