.course__wrap{
  margin: 30px 5%;
  padding: 0px 16px;
  min-width: 375px;
}

.title__box {
  margin: 10px 10px;
  font-size: 30px;
  font-weight: bold;
}

.select__form{
  text-align: end;
}

.select__box{
  border-bottom: 3px var(--main-color) solid;
  padding: 10px 10px;
}

.li--textbox{
  padding: 10px 25px;
  margin: 10px 0px;
}

.coursetitle--font {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}

.borderline {
  border: 10px white solid;
}

.flex--row {
  display: flex;
}

.flex--col {
  display: flex;
  flex-direction: column;
}

.flex--align{
  justify-content: space-between;
}

.li--relative{
  position: relative;
}

.btn--spot{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 35px;
  color: rgb(229, 89, 59);
  z-index: 10;
}

.page__btn {
  font-weight: bold; 
  padding: 3px;
  font-size: 20px;
}

.page__btn:hover {
  color: var(--background-color);
}

.pagination__link--active{
  color: var(--green-btn);
}

.arrow--rotate {
  border: 3px solid ;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  color: var(--sub-color);
  margin-bottom: 10px;
  
}

.arrow--rotate:hover {
  transform: rotate(75deg);
  transition: transform 0.75s ease;
  color: #75a64a;
}

@media (max-width:1080px) {
  .course__wrap {
    margin: 30px 0px;
    padding: 0px;
  }

  .flex--align{
      justify-content: center;
    }
}
