th {
  display: flex;
  align-items: start;
  width: 50px;
}

.mountains__detail--warp {
  margin: 30px 16%;
  padding: 0px 16px;
  min-width: 370px;
  position: relative;
}

/* section1 */

.mountains__detail--titlebox {
  margin-bottom: 15px;
}

.mountains__detail--title {
  font-size: 2rem;
  font-weight: bold; 
}

.mountains__detail--subtitle {
  color: var(--sub-color);
}

.mountains__detail--imgbox {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-bottom: 47%;
  
}

.mountains__detail--img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;  
}

.mountain__detail--infotag{
  position: absolute;
  opacity: 0.7;
  width: 100%;
  background-color: black;
  color:white;
  bottom: 0;
  height: 35px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mountains__detail--infobox {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mountains__detail--info {
  position: relative;
  width: 45%;
}

.mountains__detail--stat {
  font-size: 1.1rem;
  margin-bottom: 16px;
}

.mountain__detail--mapbtn {
  position: absolute;
  right: 0;
  top: 0;
}
.mountain__detail--bestreview {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1.3rem;
  }

.mountain__detail--bestreview:hover {
  background-color: #DBDBDB;
}

.modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#mountain-map {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}

/* section2 */

.mountains__detail--weather {
  width: 47%;
}

.mountains__detail--weatherlink:hover {
  background-color: #DBDBDB;
}

.weather--wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

.weather--sky {
  position: relative;
  width: 50%;
  padding: 15px;
}

.weather--skyimg {
  width: 100%;
  height: 100%;
}

.weather--tem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: bold;
}

.weather--hvwr {
  font-size: 1.3rem;
  text-align: center;
}

.air--warp {
  width: 25%;
}

.air--imgbox {
  position: relative;
  width:100%;
  padding: 15px;
}

.air--img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.air--fine_dust {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width:100%;
  height: 47%;
}

.air--ozone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width:100%;
  height: 47%;
}

.mountains__detail--newslist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 47%;
  position: relative;
}

.mountains__detail--newstitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.mountains__detail--newsitem > p {
  margin-bottom: 10px;
  font-size: 1.1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* section3 */
.mountain__detail--coursetitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.mountain__detail--courselist {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mountain__detail--course {
  flex-grow: 1;
  width: 100%;
}

.bookmark--style{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 40px;
  color: var(--main-color)
}

.bookmark--style:hover{
  color: var(--green-btn);
}

.btn--spot{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 35px;
  color: var(--red-color);
  z-index: 10;
}

.more--course {
  position: absolute;
  right: 5px;
  top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.more--course:hover {
  color: var(--main-color)
}

/* section4-리뷰작성 */
.review__submit--btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.mountain__reviewcrt--contbox {
  padding: 10px;
}

.mountain__reviewcrt--cont {
  border: solid 1px #777777;
  width: 100%;
  padding: 10px;
  height: 150px;
}

.mountain__reviewcrt--imgbox {
  position: relative;
  width: 160px;
  height: 160px;
  border: dashed 2px #777777;
  overflow: hidden;
}

.mountain__reviewcrt--imgbox input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.preview-image {
  object-fit: cover;
  width: 100%;
}

.img--plus{
  position: absolute;
  font-size: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mountain__reviewcrt--tag {
  padding: 0 10px;
  border: 1px solid #198754;
  color: #198754;
  border-radius: 8px;
  cursor: pointer;
  position:relative;
  font-size: 14px;
  text-align: center;
  margin-right: 5px;
  margin-bottom: 5px;
}

.mountain__reviewcrt--tag:hover {
  background-color: #198754;
  color: white;
}

.mountain__reviewcrt--tagbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position:relative;
  height: 120px;
  margin: 0 10px 10px 10px;
  padding: 10px;
  border: solid 1px #777777;
  overflow-y: scroll;
}

.visually-hidden {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.selected {
  background-color: #198754;
  color: white;
}

.selected-tags {
  display: flex;
  flex-wrap: wrap;
  height: 30px;
  margin: 0 10px;
  border-bottom: solid 1px #777777;
}

/* section5-리뷰 */
.mountain__review {
  margin-bottom: 30px;
}

.mountain__bestreview {
  margin-bottom: 30px;
  background-color: #d2edae;
}

.mountain__review:hover {
  background-color: #DBDBDB;
}

.mountain__bestreview:hover {
  background-color: #DBDBDB;
}

.mountain__detail--reviewtitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.mountain__detail--reviewtitle2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  margin-left: 10px;
  color : var(--main-color)
}

.mountain__detail--reviewbox {
  position: relative;
  padding: 10px;
}

.mountain__detail--contentbox {
  width: 70%;
  padding: 10px;
}

.mountain__detail--reviewuser {
  font-weight: bold;
}

.mountain__detail--reviewinfo {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.mountain__detail--reviewuserstat {
  margin-left: 10px;
}

.mountain__detail--reviewimgbox {
  position: relative;
  width: 45px;
  height: 45px;
}

.mountain__detail--reviewimg {
  box-sizing: border-box;
  border: 1px solid #DBDBDB;
  border-radius: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.mountain__detail--reviewcontimgbtn {
  display: flex;
  align-items: flex-start;
}

.mountain__detail--reviewcontimgbox {
  position: relative;
  width: 160px;
  height: 160px;
  margin-top: 5px;
}

.mountain__detail--reviewmodalimgbox {
  position: relative;
  width: 100%;
}

.mountain__detail--reviewcontimg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.mountain__detail--reviewbox {
  position: relative;
  display: flex;
  flex-direction: row;
}

.mountain__detail--reviewcrt {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 10px;
  right: 10px;
  color: #777777;
}

.mountain__detail--updatebox {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 10px;
  right: 10px;
}

.mountain__detail--reviewtagbox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 5px 0 5px;
}

.reviewBtnbox {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.reviewloadMoreBtn {
  font-size: 1.1rem;
  font-weight: bold;
  color: #198754
}

.reviewCloseBtn {
  font-size: 1.1rem;
  font-weight: bold;
  color: #198754
}

/* section6 */
.mountain__detail--atpostsgrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 0;
}

.mountain__detail--atpostswrap {
  position: relative;
  border: 3px var(--sub-color) solid;
  padding: 10px 50px;
}

.mountain__detail--atpoststitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.mountain__detail--atpoststitle2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  margin-left: 10px;
  color : var(--main-color)
}

.mountain__detail--atpostsimgbox {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.mountain__detail--atpostsimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.title--wrap{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mountain__detail--atpostsuser {
  display: flex;
  flex-direction: row;
}

.mountain__detail--atpostsuserimgbox {
  position: relative;
  width: 35px;
  height: 35px;
  margin: 3px 5px 5px 0px;
}

.mountain__detail--atpostsuserimg {
  object-fit: cover;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #DBDBDB;
  border-radius: 100%;
}

.mountain__detail--atpostsuserimgbox .level5--img {
  position: absolute;
  width: 18.9px !important;
  height: 18.9px !important;
}

.mountain__detail--atpostsusername {
  display: flex;
  align-items: center;
}

.mountain__detail--atpostslikecount {
  margin-right: 5px;
}

.flex--row {
  display: flex;
}

.flex--col {
  display: flex;
  flex-direction: column;
}

.flex__align--end {
  justify-content: end;
}

.flex__align--between {
  justify-content: space-between;
}

.mountain__detail--atpostsnonewrite {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #777777;
  margin: 100px 0;
}


/* side btn */
.mountain__btn--style {
  border: solid 1px var(--sub-color);
  background-color: rgba(255,255,255,0.5);
  box-shadow: rgba(63, 71, 77, 0.25) 0px 2px 10px !important;
  border-radius : 100%;
  width: 50px;
  height: 50px;
  padding: 12px;
  margin: 10px 5px;
}

.mountain__btn--style2 {
  margin: 5px 20px;
}

.mountain__btn__wrap{
  position: fixed;
  top:28%;
  right:120px;
}

.like__hover:hover{
  color: var(--background-color);
}

.heart--color {
  color: var(--red-color);
}

.icon--size {
  font-size: 16px
}

.icon--size1 {
  font-size: 20px
}

/* carousel */
.owl-carousel {
  position: relative;
 }
 
/* .owl-carousel .owl-stage-outer {
  padding: 0 30px;
 } */

 .owl-carousel .owl-prev,
 .owl-carousel .owl-next {
   position: absolute;
   top: 0;
   bottom: 0;
   margin: auto;
   background-color: #000; /* 배경색 설정 */
   color: #fff; /* 아이콘 색상 설정 */
   width: 40px; /* 버튼의 너비 */
   height: 40px; /* 버튼의 높이 */
   font-size: 24px; /* 아이콘 크기 */
   line-height: 40px; /* 버튼의 세로 중앙 정렬을 위한 line-height */
   text-align: center;
   border: solid 2px #777777 !important; 
   border-radius: 50%; /* 버튼을 원형으로 만들기 위한 border-radius 설정 */
 }
 
 .owl-carousel .owl-prev {
   left: -45px;
 }
 
 .owl-carousel .owl-next {
  right: -45px;
 }

 
@media (max-width:1080px) {
  .mountains__detail--warp {
    margin: 30px 0;
    min-width: 370px;
    position: relative;
    padding: 0;
  }

  .mountain__btn__wrap{
    position: sticky;
    bottom: 0;
    left:0;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
    box-shadow: rgba(63, 71, 77, 0.25) 0px 2px 10px !important;
    justify-content: center;
    display: flex;
    z-index: 5;
  }
}

/* @media (max-width:1480px) {
  .mountains__detail--warp {
    margin: 30px 8%;
    min-width: 370px;
    position: relative;
    padding: 0;
  }
} */