{% extends 'base2.html' %}
{% load static %}
{% block style %}
<style>
  a {
    color: black;
    text-decoration: none;
  }

  button {
    border: white;
    background-color: transparent;
  }

  li {
    list-style : none;<div>…</div>
  }

  h1,
  p{
    margin: 0px;
  }

  ul {
    margin: 0px;
  }

  .select__box{
    border: 4px solid var(--green-btn);
    background-color: var(--green-btn);
    padding: 4px 10px;
    font-weight: bold;
    color: white;
  }

  .select__box1{
    border: 4px solid var(--background-color);
    background-color: var(--background-color);
    padding: 4px 10px;
    font-weight: bold;
  }

  .marker-title {
    background-color: white;
    color: black;
    padding: 5px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    transform: translateX(-50%);
  }
  .info-window {
    position: relative;
    width: 200x; /* Set the desired width */
  }

  .visited {
    color: black;
    font-weight: bold; 
  }

  .unvisited {
    color: gray;
    font-weight: normal; 
  }

  .visited,
  .unvisited {
    font-size: 16px;
    padding: 5px 10px;
  }

  .memories__warp {
    margin: 30px 5%;
    padding: 0px 16px;
    min-width: 430px;
    position: relative;
  }

  .map__style {
    border: 10px double var(--sub-color2);
    width:100%;
    height:500px;
    {% comment %} margin: 30px 0px; {% endcomment %}
  }

  .flex--row {
    display: flex;
  }

  .flex--col {
    display: flex;
    flex-direction: column;
  }

  .color--red {
    color: var(--red-color);
    z-index: 10;
  }

  .color--green {
    color: var(--green-btn);
  }

  .unvisited:hover,
  .visited:hover{
    background-color: #fffaed;
  }

  .file--style {
    border: 4px solid var(--green-btn);
    padding: 5px 10px; 
  }

  .arrow--rotate {
    border: 3px solid ;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: var(--sub-color);
    {% comment %} margin-bottom: 10px; {% endcomment %}
  }
  
  .arrow--rotate:hover {
    transform: rotate(35deg);
    transition: transform 0.75s ease;
    transform-origin: center;
    color: #75a64a;
  }

  @media (max-width:1080px) {
    .memories__warp {
      margin: 30px 0px;
      padding: 0px;
    }
  }
</style>
{% endblock style %}

{% block content %}
<div class="memories__warp">
  <div class="flex--row">
    <h1 class="rounded-top select__box"> 오른기억 </h1>
    <h1 class="rounded-top select__box1"> <a href="{% url 'posts:create'%}" onclick="return confirm('마이코스를 쓰러 가시겠습니까?')" class="text-white">마이코스</a></h1>
  </div>
  <div class="file--style rounded-bottom rounded-end">
    <!-- 지도를 표시하는 div -->
    <div id="map" class="map__style"></div>
    <div class="d-flex justify-content-between mt-3">
      <h2>다녀온 산</h2>
      <div class="arrow--rotate me-3">
        <i class="bi bi-arrow-clockwise fs-5 ms-1" id="reloadButton"></i>
      </div>
    </div>
    {% for mountain in mountains %}
      {% if mountain.name in visited_mountains %}
      <div class="accordion tw-class mb-3 w-100" id="accordion{{ mountain.pk }}">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button w-100" style="background: var(--background-color)" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ mountain.pk }}" aria-expanded="true" aria-controls="collapse{{ mountain.pk }}">
              <p class="fs-3">{{ mountain.name }}</p>
              <p class="ps-3 mt-2">총 {{ mountain.course_set.count }}코스</p>
            </button>
          </h2>
          <div id="collapse{{ mountain.pk }}" class="accordion-collapse collapse show container" data-bs-parent="#accordion{{ mountain.pk }}">
            <div class="row">
              {% for course in mountain.course_set.all %}
              <div class="col-6 col-md-3 col-xxl-2 flex--row">
                {% if course in visited_courses %}
                <a  onclick="openSmallWindow('{% url 'mountains:course_detail' course.pk %}');" id="{{course.pk}}" class="visited">{{ course.crs_name_detail }}
                {% else %}
                <a  onclick="openSmallWindow('{% url 'mountains:course_detail' course.pk %}');"  id="{{course.pk}}" class="unvisited">{{ course.crs_name_detail }}
                {% endif %}
                </a>
                <form class="flag-toggle-form2" action="{% url 'accounts:my_memories' %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="course_id" value="{{ course.id }}">
                  {% if course in visited_courses %}
                  <button type="submit" class="flag-toggle-btn bi bi-flag-fill color--red m-1" data-course-id="tem-{{ course.id }}"></button>
                  {% else %}
                  <button type="submit" class="flag-toggle-btn bi bi-flag color--green m-1" data-course-id="tem-{{ course.id }}"></button>
                  {% endif %}
                </form>
              </div>
              {% endfor %}
            </div>
          </div>
        </div> 
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>  
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/apikey.js' %}"></script>
<script>
  function loadKakaoMapScript(callback) {
    if (window.kakao) {
      // 이미 카카오맵 API가 로드되어 있는 경우
      callback();
    } else {
      // 카카오맵 API 로드
      const API_KEY = config.apikey;
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = `https://dapi.kakao.com/v2/maps/sdk.js?appkey=${API_KEY}&libraries=services,clusterer&autoload=false`;
      script.async = true;
      script.onload = function() {
        kakao.maps.load(callback);
      };
      document.head.appendChild(script);
    }
  }
  
  // 맵 로드 및 초기화 실행
  loadKakaoMapScript(function() {
    // 지도를 표시할 div와  지도 옵션으로  지도를 생성
    var mapContainer = document.getElementById('map');
    var mapOption = {
      center: new kakao.maps.LatLng(37.5665, 126.9780),
      level: 13
    };
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 마커를 표시할 위치와 산 이름, 코스명 객체 배열
    var positions = [];
    {% for mountain in mountains %}
      var content = '<div class="fs-4 text-center fw-bolder" style="width: 200px; z-index: 1;">{{ mountain.name }}</div><br>';
      var mountainCourses = [];
      {% for course in mountain.course_set.all %}
      var visitedCourse = {% if course in visited_courses %}true{% else %}false{% endif %};
      content += '<div class="flex--row m-1" style="width: 200px;">{{ course.crs_name_detail }}';
      
      if (visitedCourse) {
        content += '<form class="flag-toggle-form" action="{% url "accounts:my_memories" %}" method="post">{% csrf_token %}' +
                  '<input type="hidden" name="course_id" value="{{ course.id }}">' +
                  '<input type="hidden" name="is_visited" value="false">' +
                  '<button type="submit" class="flag-toggle-btn bi bi-flag-fill color--red"></button></form>';
      } else {
        content += '<form class="flag-toggle-form" action="{% url "accounts:my_memories" %}" method="post">{% csrf_token %}' +
                  '<input type="hidden" name="course_id" value="{{ course.id }}">' +
                  '<input type="hidden" name="is_visited" value="true">' +
                  '<button type="submit" class="flag-toggle-btn bi bi-flag color--green"></button></form>';
      }
      content += '</div>';
        mountainCourses.push(visitedCourse);
      {% endfor %}

      var position = {
        title: "{{ mountain.name }}",
        latlng: new kakao.maps.LatLng({{ mountain.geom.y }}, {{ mountain.geom.x }}),
        content: content,
        style: "padding: 30px;",
        courses: mountainCourses,
      };
      positions.push(position);
    {% endfor %}

    // 마커 이미지 및 크기 커스텀
    var imageSrc = "{% static 'img/icons/mountain.png' %}";
    var imageSize = new kakao.maps.Size(25, 25);
    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

    var imageSrc2 = "{% static 'img/icons/mountain_goal.png' %}";
    var markerImage2 = new kakao.maps.MarkerImage(imageSrc2, imageSize);

    var markers = [];
    var infowindows = [];
    var titleWindows = [];
    var infoWindow = null;

    for (var i = 0; i < positions.length; i++) {
      var markerImageToUse = positions[i].courses.includes(true) ? markerImage2 : markerImage;
      var marker = new kakao.maps.Marker({
        position: positions[i].latlng,
        title: positions[i].title,
        image: markerImageToUse,
      });
      markers.push(marker);

      var infowindow = new kakao.maps.InfoWindow({
        content: '<div class="" style="width:200px; overflow: overlay; max-height:300px; z-index: 1;">' + positions[i].content + '</div>'
      });
      infowindows.push(infowindow);

      var titleWindow = new kakao.maps.CustomOverlay({
        position: positions[i].latlng,
        content: '<div class="marker-title">' + positions[i].title + '</div>'
      });
      titleWindows.push(titleWindow);

      kakao.maps.event.addListener(marker, 'click', makeClickListener(infowindow, marker));
      kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(i));
      kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(i));
    }

    // 마커 클러스터러 생성
    var clusterer = new kakao.maps.MarkerClusterer({
      map: map,
      averageCenter: true,
      minLevel: 10,
      disableClickZoom: true
    });

    clusterer.addMarkers(markers);

    // AJAX 요청 보내기
    $(document).ready(function() {
      $(document).on('submit', '.flag-toggle-form', function(event) {
        event.preventDefault();
        var form = $(this);
        var courseId = form.find('input[name="course_id"]').val();
        var isVisited = form.find('input[name="is_visited"]').val() === 'true';
        var button = form.find('button');

        $.ajax({
          url: form.attr('action'),
          type: 'POST',
          data: {
            course_id: courseId,
            is_visited: isVisited ? 'true' : 'false',
            csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          dataType: 'json',
          success: function(response) {
            if (response.is_visited) {
              form.find('button').removeClass('bi bi-flag color--green').addClass('bi bi-flag-fill color--red');

            } else {
              form.find('button').removeClass('bi bi-flag-fill color--red').addClass('bi bi-flag color--green');
            }
            
          },
          error: function(xhr, errmsg, err) {
            console.log(xhr.status + ": " + xhr.responseText);
          }
        });
      });
    });


    // 마커 위로 마우스오버시 산 이름을 표시하는 함수
    function makeOverListener(index) {
      return function () {
        titleWindows[index].setMap(map);
      };
    }

    // 마커 위로 마우스아웃시 산 이름을 숨기는 함수
    function makeOutListener(index) {
      return function () {
        titleWindows[index].setMap(null);
      };
    }

    // 마커 클릭시 인포창을 표시하는 함수
    function makeClickListener(infowindow, marker) {
      return function () {
        if (infoWindow) {
          infoWindow.close();
        }
        infowindow.open(map, marker);
        infoWindow = infowindow;
      };
    }

    // 인포창를 닫는 함수
    function closeInfoWindow() {
      if (infoWindow) {
        infoWindow.close();
        infoWindow = null;
      }
    }

    // 마커 외부를 클릭시 인포창을 닫는 함수
    kakao.maps.event.addListener(map, 'click', function() {
      closeInfoWindow();
    });

    // 클러스터러 클릭시 맵을 1레벨씩 확대하는 함수
    kakao.maps.event.addListener(clusterer, 'clusterclick', function(cluster) {
      var level = map.getLevel();
      map.setLevel(level - 1);
      map.setCenter(cluster.getCenter());
    });
  });
</script>
<script>
  $(document).ready(function() {
    // 깃발 토글 버튼 클릭 시 이벤트 처리
    $('.flag-toggle-form2').submit(function(e) {
      e.preventDefault();
  
      var form = $(this);
      var courseId = form.find('input[name="course_id"]').val();
      var visitedcsrfToken = form.find('input[name="csrfmiddlewaretoken"]').val();
      var button = form.find('button');
      var link = button.closest('.flex--row').find('a');

      $.ajax({
        type: 'POST',
        url: '{% url "accounts:my_memories" %}',
        data: {
          course_id: courseId,
          csrfmiddlewaretoken: visitedcsrfToken
        },
        dataType: 'json',
        success: function(response) {
          if (response.is_visited) {
            button.removeClass('bi bi-flag color--green').addClass('bi bi-flag-fill color--red');
            link.addClass('visited').removeClass('unvisited');
          } else {
            button.removeClass('bi bi-flag-fill color--red').addClass('bi bi-flag color--green');
            link.addClass('unvisited').removeClass('visited');
          }
          // 메시지 출력
          //console.log(response.message);
        },
        error: function(xhr, errmsg, err) {
          console.log(errmsg);
        }
      });
    });
  });

  function openSmallWindow(url) {
    var smallWindow = window.open(url, '_blank', 'width=1060, height=650');
    smallWindow.focus();
  }

  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('reloadButton').addEventListener('click', function() {
      location.reload();
    });
  });

</script>
{% endblock javascript %}
