{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/accounts_password_change.css' %}">
{% endblock style %}
{% block content %}
  <div class="select__box--wrap">
    <div class="rounded-t-lg select__box1"><a href="{% url 'accounts:update' %}">정보 수정</a></div>
    <div class="rounded-t-lg select__box"><a href="{% url 'accounts:password_change' %}">비밀번호 변경</a></div>
    <div class="rounded-t-lg select__box1"><a href="{% url 'accounts:delete' %}">회원탈퇴</a></div>
  </div>

  <div class='title__box rounded-tr-lg'>
    <h1 class="title">비밀번호 변경</h1>
  </div> 
  <div class="form__box rounded-b-lg">
    <form action="{% url 'accounts:password_change' %}" method="POST">
      {% csrf_token %}
      {% for field in form %}
        <label for="{{ field.label }}" class="form__field__imgbtn rounded-full">{{ field.label }}</label>
        <p class="form__field">{{ field }}</p>
      {% endfor %}
      <hr>

      <input type="submit" class="form__submitbtn rounded-2" value="비밀번호 수정">
    </form>
  </div>
{% endblock content %}
{% block javascript %}
<script src={% static 'js/accounts_input_delete.js' %}></script>
{% endblock javascript %}
