{% extends 'base.html' %}

{% load static %}
{% load custom_filters %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
  <link rel="stylesheet" href="{% static 'css/level.css' %}">
{% endblock style %}

{% block content %}
<section>
  <div class="profile__container">
    {% comment %} 프로필 {% endcomment %}
    <article class="profile__article1">
      <div class="profile__userbox">
        <div class="profile__user--info">
          <div class="profile__user--imgbox">
            {% if person.profile_img %}
              <img class="profile__user--img {% if person.level == 2 %}level2-lg {% elif person.level == 3 %}level3-lg {% elif person.level == 4 %}level4-lg {% elif person.level == 5 %}level5-lg {% endif %} " src="{{ person.profile_img.url }}" alt="">
              {% if person.level == 5 %}
                <img class="level5--img-lg" src="{% static 'img/crown.png' %}" alt="level5">
              {% endif %}
            {% else %}
              <img class="profile__user--img {% if person.level == 2 %}level2-lg {% elif person.level == 3 %}level3-lg {% elif person.level == 4 %}level4-lg {% elif person.level == 5 %}level5-lg {% endif %}" src="{% static 'img/profile_no_img.png' %}" alt="">
              {% if person.level == 5 %}
                <img class="level5--img-lg" src="{% static 'img/crown.png' %}" alt="level5">
              {% endif %}
            {% endif %}
            </div>
            <div class="profile__user--stat">
            <div class="profile__user--name">{{ person.nickname }}</div>
            <div>
              {% if person.level == 1 %}
                <div class="d-flex flex-row">
                  <img class="levelname--img" src="{% static 'img/level/level1.png' %}" alt=""><p class="levelname">등산새싹</p>
                </div>
              {% elif person.level == 2 %}
                <div class="d-flex flex-row">
                  <img class="levelname--img" src="{% static 'img/level/level2.png' %}" alt=""><p class="levelname">등산샛별</p>
                </div>
              {% elif person.level == 3 %}
              <div class="d-flex flex-row">
                <img class="levelname--img" src="{% static 'img/level/level3.png' %}" alt=""><p class="levelname">등산인</p>
              </div>
              {% elif person.level == 4 %}
              <div class="d-flex flex-row">
                <img class="levelname--img" src="{% static 'img/level/level4.png' %}" alt=""><p class="levelname">등산고수</p>
              </div>
              {% elif person.level == 5 %}
              <div class="d-flex flex-row">
                <img class="levelname--img" src="{% static 'img/level/level5.png' %}" alt=""><p class="level5name">등산왕</p>
              </div>
              {% endif %}
            </div>
            <div class="progress profile__user--expbar" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" title="다음 레벨까지 {{ restexp }}점 남았습니다.">
              <div class="progress-bar bg-success" style="width: {{ expbar }}%"></div>
              <p class="profile__user--expcount">
                {% if max_score == 'MAX' %}
                  {{ max_score }}
                {% else %}
                  {{ score }}/{{ max_score }}
                {% endif %}
              </p>
            </div>
            <div class="profile__user--follow">
              <p class="profile__user--followtext">팔로워</p><button id="followers-count" class="profile__user--followercount">{{ person.followers.all|length }}</button>
              <p style="font-size: 12px; line-height: 20px; margin: 0 5px;">|</p>
              <p class="profile__user--followtext">팔로잉</p><button id="followings-count" class="profile__user--followingcount">{{ person.followings.all|length }}</button>
            </div>
            {% if request.user == person %}
              <div class="profile__user--edit">
                <a href="{% url 'accounts:update' %}">
                  <button class="profile__user--editbtn" type="submit">설정</button>
                </a>
              </div>
            {% else %}
              <div class="profile__user--followbtnbox">
                <button id="followBtn" class="{% if request.user in person.followers.all %}profile__user--unfollowbtn{% else %}profile__user--followbtn{% endif %}" data-person="{{ person.pk }}">
                  {% if request.user in person.followers.all %}
                    <svg id="i-checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="18" height="18" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                      <path d="M2 20 L12 28 30 4" />
                    </svg>
                    <p style="margin-left: 5px;">팔로잉</p>
                  {% else %}
                    <p>팔로우</p>
                  {% endif %}
                </button>
              </div>
            {% endif %}
          </div>
          <div class="profile__user--messagebox">
            <p class="profile__user--message">{{ person.message }}</p>
          </div>
        </div>
        <div class="profile__user--info2">
          <button class="profile__user--review profile__user--infoactivebtn">
            <svg id="i-edit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M30 7 L25 2 5 22 3 29 10 27 Z M21 6 L26 11 Z M5 22 L10 27 Z" />
            </svg>
            <p>나의글</p>
            <div class="d-flex flex-row profile__user--info2cnt">
              <span>0</span>
              <span style="margin: 0 3px; font-size: 12px; line-height: 20px;">|</span>
              <span>{{ posts|length }}</span>
            </div>
          </button>
          <button class="profile__user--bookmark">
            <svg id="i-bookmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M6 2 L26 2 26 30 16 20 6 30 Z" />
            </svg>
            <p>북마크</p>
            <div class="d-flex flex-row profile__user--info2cnt">
              <span>{{ bookmark_course|length }}</span>
            </div>
          </button>
          <button class="profile__user--like">
            <svg id="i-heart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M4 16 C1 12 2 6 7 4 12 2 15 6 16 8 17 6 21 2 26 4 31 6 31 12 28 16 25 20 16 28 16 28 16 28 7 20 4 16 Z" />
            </svg>
            <p>좋아요</p>
            <div class="d-flex flex-row profile__user--info2cnt">
              <span>{{ liked_mountains|length }}</span>
              <span style="margin: 0 3px; font-size: 12px; line-height: 20px;">|</span>
              <span>{{ liked_posts|length }}</span>
            </div>
          </button>
        </div>
      </div>
    </article>

    <article class="profile__article2"></article>

    {% comment %} 컨텐츠 {% endcomment %}
    <article class="profile__article3">
      <div class="profile__contentbox">
        {% comment %} 나의글 목록 {% endcomment %}
        <div class="profile__content1" style="display: block;">
          
          <div class="profile__content1--review">
            <div class="profile__content1--reviewtext">
              <p>내가 쓴 리뷰</p>
              <span style="margin-left: 5px; color: var(--main-color);">{{ reviews.count }}</span>
            </div>
            <div class="profile__content1--reviewcontent">
              {% if reviews %}
                <div class="profile__content--postbox">
                  {% for review in reviews %}
                    <a class="profile__content--post" title="{{ review.content }}" href="{% url 'mountains:mountain_detail' review.mountain.pk %}">
                      <div class="profile__content--imgbox">                        
                        {% if review.image %}
                          <img class="profile__content--img" src="{{ review.image.url }}" alt="리뷰 이미지">
                        {% else %}
                          <img class="profile__content--noimg" src="{% static 'img/Noimage.png' %}" alt="대체이미지">
                        {% endif %}
                      </div>
                      <p class="profile__content--posttext">{{ review.content }}</p>
                    </a>
                  {% endfor %}
                </div>
              {% else %}
                <p class="profile__content--nonewrite">등록된 글이 없습니다.</p>
              {% endif %}
            </div>
          </div>


          <div class="profile__content1--mycourse">
            <div class="profile__content1--mycoursetext">
              <p>내가 쓴 마이코스</p>
              <span style="margin-left: 5px; color: var(--main-color);">{{ posts|length }}</span>
            </div>
            <div class="profile__content1--mycoursecontent">
              {% if posts %}
                <div class="profile__content--postbox">
                  {% for post in posts %}
                    {% if post.user == person %}
                      <a class="profile__content--post" title="{{ post.title }}" href="{% url 'posts:detail' post.pk %}">
                        <div class="profile__content--imgbox">
                          {% with first_image_url=post.content|get_first_image_from_content %}
                            {% if first_image_url %}
                              <img class="profile__content--img" src="{{ first_image_url }}" alt="썸네일">
                            {% else %}
                              <img class="profile__content--noimg" src="{% static 'img/Noimage.png' %}" alt="대체이미지">
                            {% endif %}
                          {% endwith %}
                        </div>
                        <p class="profile__content--posttext">{{ post.title }}</p>
                      </a>
                    {% endif %}
                  {% endfor %}
                </div>
              {% else %}
                <p class="profile__content--nonewrite">등록된 글이 없습니다.</p>
              {% endif %}
            </div>
          </div>
        </div>

        {% comment %} 북마크 목록 {% endcomment %}
        <div class="profile__content2" style="display: none;">
          <div class="profile__content2--bookmark">
            <div class="profile__content2--bookmarktext">
              <p>북마크</p>
              <span style="margin-left: 5px; color: var(--main-color);">{{ bookmark_course|length }}</span>
            </div>
            <div class="profile__content2--bookmarkcontent">
              {% if bookmark_course %}
                <div class="profile__content--postbox">
                  {% for course in bookmark_course %}
                    <a class="profile__content--post" title="{{ course.mntn_name }}" onclick="openSmallWindow('{% url 'mountains:course_detail' course.pk %}');" id="{{course.pk}}" >
                      <div class="profile__content--imgbox">                        
                        <img class="profile__content--img" src="{% get_static_prefix %}img/mountains/{{ course.mntn_name }}.png" alt="썸네일">
                      </div>
                      <p class="profile__content--posttext">{{ course.crs_name_detail }}</p>
                    </a>
                  {% endfor %}
                </div>
              {% else %}
                <p class="profile__content--nonewrite">북마크한 글이 없습니다.</p>
              {% endif %}
            </div>
          </div>
        </div>
            

        {% comment %} 좋아요 목록 {% endcomment %}
        <div class="profile__content3" style="display: none;">
          <div class="profile__content3--mountain">
            <div class="profile__content3--mountaintext">
              <p>좋아요 한 산</p>
              <span style="margin-left: 5px; color: var(--main-color);">{{ liked_mountains|length }}</span>
            </div>
            <div class="profile__content3--mountaincontent">
              {% if liked_mountains %}
                <div class="profile__content--postbox">
                  {% for mountain in liked_mountains %}
                    <a class="profile__content--post" title="{{ mountain.name }}" href="{% url 'mountains:mountain_detail' mountain.pk %}">
                      <div class="profile__content--imgbox">                        
                        <img class="profile__content--img" src="{% get_static_prefix %}img/mountains/{{ mountain.name }}.png" alt="썸네일">
                      </div>
                      <p class="profile__content--posttext">{{ mountain.name }}</p>
                    </a>
                  {% endfor %}
                </div>
              {% else %}
                <p class="profile__content--nonewrite">좋아요한 글이 없습니다.</p>
              {% endif %}
            </div>
          </div>
          <div class="profile__content3--mycourse">
            <div class="profile__content3--mycoursetext">
                <p>좋아요 한 마이코스</p>
                <span style="margin-left: 5px; color: var(--main-color);">{{ liked_posts|length }}</span>
            </div>
            <div class="profile__content3--mycoursecontent">
              {% if liked_posts %}
                <div class="profile__content--postbox">
                  {% for post in liked_posts %}
                    <a class="profile__content--post" title="{{ post.title }}" href="{% url 'posts:detail' post.pk %}">
                      <div class="profile__content--imgbox">
                        {% with first_image_url=post.content|get_first_image_from_content %}
                          {% if first_image_url %}
                            <img class="profile__content--img" src="{{ first_image_url }}" alt="썸네일">
                          {% else %}
                            <img class="profile__content--noimg" src="{% static 'img/Noimage.png' %}" alt="대체이미지">
                          {% endif %}
                        {% endwith %}
                      </div>
                      <p class="profile__content--posttext">{{ post.title }}</p>
                    </a>
                  {% endfor %}
                </div>
              {% else %}
                <p class="profile__content--nonewrite">좋아요한 글이 없습니다.</p>
              {% endif %}
            </div>
          </div>
        </div>

        {% comment %} 팔로워 목록 {% endcomment %}
        <div class="profile__content4" style="display: none;">
          <div class="profile__content4--follower">
            <div class="profile__content4--followertext">
              <p>팔로워</p>
            </div>
            <div class="profile__content4--followercontent">
              {% if person.followers.all %}
                <div class="profile__follows--list">
                  {% for follower in person.followers.all %}
                    <div class="profile__follow--item">
                      <a class="d-flex flex-row" href="{% url 'accounts:profile' follower.pk %}">
                        <div class="profile__follow--imgbox">
                          {% if follower.profile_img %}
                            <img class="profile__follow--img {% if follower.level == 2 %}level2 {% elif follower.level == 3 %}level3 {% elif follower.level == 4 %}level4 {% elif follower.level == 5 %} level5{% endif %}" src="{{ follower.profile_img.url }}" alt="팔로워유저이미지">
                            {% if follower.level == 5 %}
                              <img class="level5--img" src="{% static 'img/crown.png' %}" alt="level5">
                            {% endif %}
                          {% else %}
                            <img class="profile__follow--img {% if follower.level == 2 %}level2 {% elif follower.level == 3 %}level3 {% elif follower.level == 4 %}level4 {% elif follower.level == 5 %} level5{% endif %}" src="{% static 'img/profile_no_img.png' %}" alt="유저대체이미지">
                            {% if follower.level == 5 %}
                              <img class="level5--img" src="{% static 'img/crown.png' %}" alt="level5">
                            {% endif %}
                          {% endif %}
                        </div>
                        <div class="profile__follow--info">
                          <div class="profile__follow--name">{{ follower.nickname }}</div>
                          {% if follower.message %}
                            <div class="profile__follow--message">{{ follower.message }}</div>
                          {% endif %}
                        </div>
                      </a>
                      {% if request.user != follower %}
                      
                        <div class="profile__follow--followbtnbox">
                          <button class="followBtn2 {% if request.user in follower.followers.all %}profile__follow--unfollowbtn {% else %}profile__follow--followbtn{% endif %}" type="submit" data-person="{{ follower.pk }}">
                            {% if request.user in follower.followers.all %}
                              <p>팔로잉</p>
                            {% else %}
                              <p>팔로우</p>
                            {% endif %}
                          </button>
                        </div>
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
              {% else %}
                <p class="profile__content--nonewrite" style="line-height: 180px;">팔로워가 없습니다.</p>
              {% endif %}  
            </div>
          </div>
        </div>

        {% comment %} 팔로잉 목록 {% endcomment %}
        <div class="profile__content5" style="display: none;">
          <div class="profile__content5--following">
            <div class="profile__content5--followingtext">
              <p>팔로잉</p>
            </div>
            <div class="profile__content5--followingcontent">
              {% if person.followings.all %}
                <div class="profile__follows--list">
                  {% for following in person.followings.all %}
                    <div class="profile__follow--item">
                      <a class="d-flex flex-row" href="{% url 'accounts:profile' following.pk %}">
                        <div class="profile__follow--imgbox">
                          {% if following.profile_img %}
                            <img class="profile__follow--img {% if following.level == 2 %}level2 {% elif following.level == 3 %}level3 {% elif following.level == 4 %}level4 {% elif following.level == 5 %} level5{% endif %}" src="{{ following.profile_img.url }}" alt="팔로잉유저이미지">
                            {% if following.level == 5 %}
                              <img class="level5--img" src="{% static 'img/crown.png' %}" alt="level5">
                            {% endif %}
                          {% else %}
                            <img class="profile__follow--img {% if following.level == 2 %}level2 {% elif following.level == 3 %}level3 {% elif following.level == 4 %}level4 {% elif following.level == 5 %} level5{% endif %}" src="{% static 'img/profile_no_img.png' %}" alt="">
                            {% if following.level == 5 %}
                              <img class="level5--img" src="{% static 'img/crown.png' %}" alt="level5">
                            {% endif %}
                          {% endif %}
                        </div>
                        <div class="profile__follow--info">
                          <div class="profile__follow--name">{{ following.nickname }}</div>
                          {% if following.message %}
                            <div class="profile__follow--message">{{ following.message }}</div>
                          {% endif %}
                        </div>
                      </a>
                      {% if request.user != following %}
                        <div class="profile__follow--followbtnbox">
                          <button class="followBtn3 profile__follow--unfollowbtn" type="submit" data-person="{{ following.pk }}">
                            <p>팔로잉</p>
                          </button>
                        </div>
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
              {% else %}
                <p class="profile__content--nonewrite" style="line-height: 180px;">팔로잉이 없습니다.</p>
              {% endif %}
            </div>
          </div>
        </div>

      </div>
    </article>
  </div>
</section>
{% endblock content %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="{% static 'js/profile.js' %}"></script>

<!-- 카카오맵 API 로드 -->
{% comment %} <script>
  function loadKakaoMapScript(callback) {
      if (window.kakao) {
          // 이미 카카오맵 API가 로드되어 있는 경우
          callback();
      } else {
          console.log('로드하는중')
          // 카카오맵 API 로드
          var script = document.createElement("script");
          script.type = "text/javascript";
          script.src = "https://dapi.kakao.com/v2/maps/sdk.js?appkey=d39fcd60ffdc96ae99454337f5e45a16&libraries=services&autoload=false";
          document.head.appendChild(script);
          
          script.onload = function () {
              kakao.maps.load(function () {
                  callback();
              });
          };
      }
  }
  // 카카오맵 초기화 함수
  function initMap(courseId, courseDetail) {
    var container = document.getElementById('map3-' + courseId);
    console.log(container)
    var options = {
      center: new kakao.maps.LatLng(37.5665, 126.9780), 
      level: 6
    };
    var map = new kakao.maps.Map(container, options);
  
    var linePath = [];
    var waypointPositions = [];
    var waypointNames = [];

    // 해당 코스의 CourseDetail들에 대해 위치 표시 및 linePath에 좌표 추가
    courseDetail.features.forEach(function(feature) {
      var coordinates = feature.geometry.coordinates;
      var x = coordinates[0];
      var y = coordinates[1];
      var excludedNames = ['국가지점', '쉼터', '자연경관', '갈림길', '이정표', '표시', '벤치', '화장실', '주의', '현위치', '조망점', '계곡', '비석'];
      if (!feature.properties.is_waypoint) {
        linePath.push(new kakao.maps.LatLng(y, x));
      } else if (!excludedNames.some(name => feature.properties.waypoint_name.includes(name))) {
        waypointPositions.push(new kakao.maps.LatLng(y, x));
        waypointNames.push(feature.properties.waypoint_name)
        // 마커를 표시합니다
        
        waypointPositions.forEach(function (position, index) {
          
          var marker = new kakao.maps.Marker({
            position: position,
            map: map,
            title: waypointNames[index]
          });
        });
      
      }
    });
    // 출발 좌표에 마커 표시
    var startMarkerPosition = linePath[0];
    var startMarker = new kakao.maps.Marker({
      position: startMarkerPosition,
      map: map,
      title: "출발지"
    });

    // 도착 좌표에 마커 표시
    var endMarkerPosition = linePath[linePath.length - 1];
    var endMarker = new kakao.maps.Marker({
      position: endMarkerPosition,
      map: map,
      title: "도착지"
    });
        
    // 중간 인덱스 계산
    var middleIndex = Math.floor(linePath.length / 2);
    var center = linePath[middleIndex];
  
    // Polyline을 이용하여 선 그리기
    var polyline = new kakao.maps.Polyline({
      path: linePath, // linePath에 저장된 좌표들로 설정
      strokeWeight: 3,
      strokeColor: '#FF0000',
      strokeOpacity: 0.7,
      strokeStyle: 'solid'
    });
    polyline.setMap(map);
  
    // 부드럽게 마커가 위치한 곳으로 이동합니다
    map.panTo(center);
  }

  // 카카오맵 API 로드 후 초기화 함수 호출
  loadKakaoMapScript(function () {
    {% for course in bookmark_course %}
      var courseId = {{ course.pk }};
      var courseDetails = {{ course_details|safe }};
      var courseDetail = JSON.parse(courseDetails[courseId]);
      initMap(courseId, courseDetail);
    {% endfor %}
  });
</script> {% endcomment %}

<script>
  function bookmark(courseId) {
    const bookmarkBtn = document.getElementById('bookmark-btn-' + courseId);
    const courseCsrftoken = document.querySelector("[name=csrfmiddlewaretoken]").value;

    if (bookmarkBtn) {
      bookmarkBtn.addEventListener('click', () => {
        event.preventDefault(); // 폼의 기본 동작 중지
        const mountainPk = bookmarkBtn.getAttribute('data-mountain-pk');
        const coursePk = bookmarkBtn.getAttribute('data-course-pk');
        fetch(`/mountains/${mountainPk}/course/${coursePk}/bookmark/`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': courseCsrftoken
          },
          body: JSON.stringify({})
        })
          .then(response => response.json())
          .then(data => {
            const isBookmarked = data.is_bookmarked;
            // 서버로부터의 응답을 처리
            if (isBookmarked) {
              // 북마크 추가 시 동작
              bookmarkBtn.innerText = '북마크 제거';
              alert('북마크가 추가되었습니다.');
            } else {
              // 북마크 제거 시 동작
              bookmarkBtn.innerText = '북마크 추가';
              alert('북마크가 제거되었습니다.');
            }
          })
          .catch(error => {
            // 에러 처리
            console.error(error);
          });
      });
    }
  }

  {% for course in bookmark_course %}
    bookmark({{ course.pk }});
  {% endfor %}

  
  function openSmallWindow(url) {
    var smallWindow = window.open(url, '_blank', 'width=1060, height=650');
    smallWindow.focus();
  }
</script>
{% endblock javascript %}
