{% extends 'base.html' %}
{% load static %}
{% block style %}
<style> 
</style>
<link rel="stylesheet" href="{% static 'css/mountains_courselist.css' %}">
{% endblock style %}

{% block content %}
<div class="course__wrap">
  <div class="flex--row mt-2">
    <form action="{% url 'mountains:course_all_list' %}" method="POST">
      {% csrf_token %}
      <select class="select__box focus:outline-none focus:border-gray-200 peer" name="sido1" id="sido1"></select>
      <select class="select__box focus:outline-none focus:border-gray-200 peer" name="gugun1" id="gugun1"></select>
      <button type="submit" class="rounded-full px-3 pt-2 pb-1 text-white bg-[#47A945] hover:bg-[#A2E04E]"><i class="bi bi-geo-alt-fill"></i></button>
    </form>
    <form action="{% url 'mountains:reset' %}" method="GET" id="reset-form">
      {% if 'filtered_courses' in request.session or 'filtered_mountains' in request.session %}
        <input type="hidden" name="reset" value="true">
        <button type="submit" class="bi bi-arrow-clockwise align-self-end ms-2 fs-5 arrow--rotate "></button>
      {% endif %}
    </form>
  </div>


  <div class="align__list">
    <form id="sort-form">
      <label for="sort-select" class="sr-only">정렬</label>
      <select name="sort" id="sort-select" class="select__box focus:outline-none focus:border-gray-200 peer">
        <option value="">정렬</option>
        <option value="bookmarks">북마크순</option>
        <option value="diff">난이도순</option>
        <option value="distance">거리순</option>
        <option value="hidden_time">소요시간순</option>
        <option value="id">가나다순</option>
      </select>
      {% comment %} <input type="submit" class="align__btn rounded" value="정렬"> {% endcomment %}
    </form>
  </div>

  
  <ul class=" grid grid-cols-1 xl:grid-cols-2 gap-4">
    {% for course in page_obj %}
    <li class="">
      <a
      {% if request.user.is_authenticated %}
        href="{% url 'mountains:mountain_detail' course.mntn_name.pk %}" 
      {% else %}
        onclick="return confirm('로그인 하시겠습니까?')" href="{% url 'accounts:login' %}"
      {% endif %}
      class="flex flex-col bg-white border border-gray-200 rounded-lg shadow md:flex-row li__box">
        <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="{% get_static_prefix %}img/mountains/{{ course.mntn_name }}.png" alt="{{ course.mntn_name }}">
        <div class="flex--col mt-3 ms-4 md:ms-2">
          <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ course.crs_name_detail }}</h3>
          <h5 class="mb-2 text-xl font-bold tracking-tight text--colormain">{{ course.mntn_name }}</h5>
          <div class="flex--row">
            <div class="me-3 box--minwidth">
              <p class="mb-3 font-normal text-gray-700 ">거리</p>
              <p class="mb-3 font-normal text-gray-700 ">시간</p>
              <p class="mb-3 font-normal text-gray-700 ">난이도</p>
              <p class="mb-3 font-normal text-gray-700 ">지역</p>
            </div>
            <div class="">
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ course.distance }}km</p>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ course.duration }}</p>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400" id="bookmark-count">{{ course.diff }}</p>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ course.mntn_name.region }}</p>
            </div>
          </div>
        </div>
        <form class="bookmark-form" data-course-id="{{course.pk}}" data-mountain-id="{{ course.mntn_name.pk }}">
          {% csrf_token %}
          {% if request.user in course.bookmarks.all %}
            <button id="bookmark-btn-{{ course.pk }}" type="submit" class="bi bi-bookmark-fill bookmark--style"></button>
          {% else %}
            <button id="bookmark-btn-{{ course.pk }}" type="submit" class="bi bi-bookmark bookmark--style"></button>
          {% endif %}
        </form>
      </a>
    </li>
    {% endfor %}
  </ul>
<!-- 페이지네이션 -->
<div class="pagination mt-4">
  <div class="mx-auto">
    {% if  page_obj.has_previous %}
      <a href="?page=1{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}" class="page__btn ">&lt;&lt;</a>
    {% endif %}
    {% for page_number in   page_obj.paginator.page_range %}
      {% if page_number >=  page_obj.number|add:'-5' and page_number <=   page_obj.number|add:'4' %}
        {% if page_number ==  page_obj.number %}
          <span class="page__btn pagination__link--active">{{ page_number }}</span>
        {% else %}
          <a href="?page={{ page_number }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}" class="page__btn ">{{ page_number }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if   page_obj.has_next %}
      <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}" class="page__btn ">&gt;&gt;</a>
    {% endif %}
  </div>
</div>

{% endblock content %}


{% block javascript %}
<script>
  $('document').ready(function() {
    var area0 = ["전국","서울특별시","인천광역시","대전광역시","광주광역시","대구광역시","울산광역시","부산광역시","경기도","강원도","충청북도","충청남도","전라북도","전라남도","경상북도","경상남도","제주도"];
    var area1 = ["전체"];
    var area2 = ["전체"];
    var area3 = ["전체"];
    var area4 = ["전체"];
    var area5 = ["전체"];
    var area6 = ["전체"];
    var area7 = ["전체"];
    var area8 = ["전체","고양시","과천시","광명시","광주시","구리시","군포시","김포시","남양주시","동두천시","부천시","성남시","수원시","시흥시","안산시","안성시","안양시","양주시","오산시","용인시","의왕시","의정부시","이천시","파주시","평택시","포천시","하남시","화성시","가평군","양평군","여주군","연천군"];
    var area9 = ["전체","강릉시","동해시","삼척시","속초시","원주시","춘천시","태백시","고성군","양구군","양양군","영월군","인제군","정선군","철원군","평창군","홍천군","화천군","횡성군"];
    var area10 = ["전체","제천시","청주시","충주시","괴산군","단양군","보은군","영동군","옥천군","음성군","증평군","진천군","청원군"];
    var area11 = ["전체","계룡시","공주시","논산시","보령시","서산시","아산시","천안시","금산군","당진군","부여군","서천군","연기군","예산군","청양군","태안군","홍성군"];
    var area12 = ["전체","군산시","김제시","남원시","익산시","전주시","정읍시","고창군","무주군","부안군","순창군","완주군","임실군","장수군","진안군"];
    var area13 = ["전체","광양시","나주시","목포시","순천시","여수시","강진군","고흥군","곡성군","구례군","담양군","무안군","보성군","신안군","영광군","영암군","완도군","장성군","장흥군","진도군","함평군","해남군","화순군"];
    var area14 = ["전체","경산시","경주시","구미시","김천시","문경시","상주시","안동시","영주시","영천시","포항시","고령군","군위군","봉화군","성주군","영덕군","영양군","예천군","울릉군","울진군","의성군","청도군","청송군","칠곡군"];
    var area15 = ["전체","거제시","김해시","마산시","밀양시","사천시","양산시","진주시","진해시","창원시","통영시","거창군","고성군","남해군","산청군","의령군","창녕군","하동군","함안군","함양군","합천군"];
    var area16 = ["전체","서귀포시","제주시","남제주군","북제주군"];
   
    
   
    // 시/도 선택 박스 초기화
   
    $("select[name^=sido]").each(function() {
     $selsido = $(this);
     $.each(eval(area0), function() {
      $selsido.append("<option value='"+this+"'>"+this+"</option>");
     });
     $selsido.next().append("<option value=''>구/군 선택</option>");
    });
   
    
   
    // 시/도 선택시 구/군 설정
   
    $("select[name^=sido]").change(function() {
     var area = "area"+$("option",$(this)).index($("option:selected",$(this))); // 선택지역의 구군 Array
     var $gugun = $(this).next(); // 선택영역 군구 객체
     $("option",$gugun).remove(); // 구군 초기화
   
     if(area == "area0")
      $gugun.append("<option value=''>구/군 선택</option>");
     else {
      $.each(eval(area), function() {
       $gugun.append("<option value='"+this+"'>"+this+"</option>");
      });
     }
   });
  });

</script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/list_order.js' %}"></script>
<script src="{% static 'js/mountains_courselist.js' %}"></script>
<script>

</script>

{% endblock javascript %}





