{% extends 'base.html' %}
{% block content %}
  <div class="container my-5">
    {% for course in courses %}
      <ul class="my-5">
        <li>{{ course.crs_name }}</li>
        <li>{{ course.distance }}m</li>
        <li>{{ course.duration }}</li>
        <br>
      </ul>
      {{ course_details }}
      <hr>
    {% endfor %}
  </div>  

<script>
  function loadKakaoMaps() {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'https://dapi.kakao.com/v2/maps/sdk.js?appkey=d39fcd60ffdc96ae99454337f5e45a16&libraries=services&autoload=false';
    script.onload = function() {
      kakao.maps.load(function() {
        var mapContainer = document.getElementById('map');
        var mapOption = {
          center: new kakao.maps.LatLng(33.450701, 126.570667),
          level: 10
        };
      var map = new kakao.maps.Map(mapContainer, mapOption);

      var linePath = [
      new kakao.maps.LatLng(33.452344169439975, 126.56878163224233),
      new kakao.maps.LatLng(33.452739313807456, 126.5709308145358),
      new kakao.maps.LatLng(33.45178067090639, 126.5726886938753) 
  ];

  // 지도에 표시할 선을 생성합니다
  var polyline = new kakao.maps.Polyline({
      path: linePath, // 선을 구성하는 좌표배열 입니다
      strokeWeight: 5, // 선의 두께 입니다
      strokeColor: '#FFAE00', // 선의 색깔입니다
      strokeOpacity: 0.7, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
      strokeStyle: 'solid' // 선의 스타일입니다
  });

  // 지도에 선을 표시합니다 
  polyline.setMap(map);  

});
};
document.head.appendChild(script);
}

loadKakaoMaps();

</script>

{% endblock content %}
