{% extends 'base.html' %}
{% load static %}
{% block style %}
  <link rel="stylesheet" href="{% static 'css/mountains_course.css' %}">
  <link rel="stylesheet" href="{% static 'css/mountains_list.css' %}">
  <style>
  </style>
{% endblock style %}
{% block content %}

<div class="mountains__warp">
  <form id="sort-form" class="select__form">
    <select name="sort" id="sort-select" class="select__box focus:outline-none mb-3">
        <option value="">정렬</option>
        <option value="likes">좋아요순</option>
        <option value="reviews">리뷰순</option>
        <option value="views">조회순</option>
        <option value="height">고도순</option>
        <option value="id">가나다순</option>
    </select>
  </form>
  <form action="{% url 'mountains:reset' %}" method="GET" id="reset-form">
    {% if 'filtered_courses' in request.session or 'filtered_mountains' in request.session %}
      <input type="hidden" name="reset" value="true">
      <button type="submit" class="bi bi-arrow-clockwise align-self-end ms-2 fs-5 arrow--rotate"></button>
    {% endif %}
  </form>
  
  <div id="results" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2 mb-4">
    {% for mountain in page_obj %}
    <div  class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="{% url 'mountains:mountain_detail' mountain.pk %}"  class="position--relative ">
        <div>
          <img class="rounded-t-lg img--size"src="{% get_static_prefix %}img/mountains/{{ mountain.name }}.png" alt="{{ mountain.name }}">
        </div>
        {% comment %} 좋아요 {% endcomment %}
        <div class="position--absolute like__btn">
          <form class="like-form" data-mountain-id="{{ mountain.pk }}">
            {% if request.user in mountain.likes.all %}
              <button type="submit" class="bi bi-heart-fill like__btn--style" id="like-btn"></button>
            {% else %}
              <button type="submit" class="bi bi-heart like__btn--style" id="like-btn"></button>
            {% endif %}
          </form>
        </div>
      {% comment %} 태그 {% endcomment %}
        <div class="display position--absolute" style="bottom: 39%;">
          {% for tag in mountain.top_tags  %}
            <span>#{{ tag }}</span>
          {% endfor %}
        </div>
        <div class="p-4 flex--col flex__align--between" style="height: 180px;">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ mountain.name }}</h5>      
          {% comment %} <p class="mb-1 font-normal text-sm text-gray-700 dark:text-gray-400">{{mountain.review_set.tags.all}}</p> {% endcomment %}
          <p class="mb-1 font-normal text-sm text-gray-700 dark:text-gray-400">{{ mountain.region }}</p>
          <p class="mb-1 font-normal text-sm text-gray-700 dark:text-gray-400">{{ mountain.height }}m</p>
          <div class="flex--row flex__align--end">
            <div class="flex--row pe-3">
              <i class="bi bi-heart-fill pe-1" style="color:var(--red-color)"></i>
              <p id="like-count">{{mountain.likes.all.count}}</p>
            </div>
            <div class="flex--row pe-3">
              <i class="bi bi-chat-dots-fill pe-1" style="color:var(--green-btn)"></i>
              <p>{{mountain.reviews_count}}</p>
            </div>
            <div class="flex--row">
              <i class="bi bi-signpost-2-fill pe-1" style="color: #5e3b34"></i>
              <p>{{mountain.course_set.count}}</p>
            </div>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  {% comment %} "검색한 산이 없습니다" 문구 표시 {% endcomment %}
    {% if page_obj|length == 0 %}
      <div class="text-center my-5 p-5">
        <p id="noResultsElement">검색한 산이 없습니다.</p>
      </div>
    {% endif %}
    <hr>
  {% comment %} pagenator {% endcomment %}
  <div class="pagination mt-4">
    <div class="mx-auto">
      {% if  page_obj.has_previous %}
        <a href="?page=1{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}" class="page__btn ">&lt;&lt;</a>
      {% endif %}
      {% for page_number in   page_obj.paginator.page_range %}
        {% if page_number >=  page_obj.number|add:'-5' and page_number <=   page_obj.number|add:'4' %}
          {% if page_number ==  page_obj.number %}
            <span class="page__btn pagination__link--active">{{ page_number }}</span>
          {% else %}
            <a href="?page={{ page_number }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}" class="page__btn ">{{ page_number }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      {% if   page_obj.has_next %}
        <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}" class="page__btn ">&gt;&gt;</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/mountains_likes.js' %}"></script>
<script src="{% static 'js/list_order.js' %}"></script>

<script>
  

</script>
{% endblock javascript %}