{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/mountains_search.css' %}">
{% endblock style %}

{% block content %}
<div class="mountain__search--wrap">
  <form method="Post" action="{% url 'mountains:mountain_list' %}">
    {% csrf_token %}
    <section>
      <div id="review-tags" class="mountain__reviewcrt--tagbox">
        {{ form.tags|safe }}
      </div>
      <div id="selected-tags" class="selected-tags"></div>
    </section>
  
    <br>
    <section>
      <select name="sido2" id="sido2"></select>
      <select name="gugun2" id="gugun2"></select>
      <button type="submit">탐색</button>
    </section>
  </form>
</div>
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/mountains_search.js' %}"></script>
<script>

</script>

{% endblock javascript %}