<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>{{ mountain.name }} 5일 예보(3시간 간격)</h2>
  <ul>
    <table>
        <thead>
            <tr>
                <th></th>
                {% for forecast in weather_data.list %}
                <th>{{ forecast.dt_txt }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>날씨</td>
                {% for forecast in weather_data.list %}
                <td>
                    <img id="weather-icon" src="http://openweathermap.org/img/wn/{{ forecast.weather.0.icon }}.png"
                        alt="{{ forecast.weather.0.description }}" />
                </td>
                {% endfor %}
            </tr>
            <tr>
                <td>온도</td>
                {% for forecast in weather_data.list %}
                <td>{{ forecast.main.temp|floatformat:0 }}°C</td>
                {% endfor %}
            </tr>
            <tr>
                <td>습도</td>
                {% for forecast in weather_data.list %}
                <td>{{ forecast.main.humidity }}%</td>
                {% endfor %}
            </tr>
            <tr>
                <td>강수확률</td>
                {% for forecast in weather_data.list %}
                <td>{{ forecast.pop }}%</td>
                {% endfor %}
            </tr>
            <tr>
                <td>강수량</td>
                {% for forecast in weather_data.list %}
                <td>
                    {% if forecast.rain %}
                    {{ forecast.rain.3h }}mm
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            <tr>
                <td>바람</td>
                {% for forecast in weather_data.list %}
                <td>
                    {% if forecast.wind.deg >= 337.5 or forecast.wind.deg < 22.5 %}
                    북
                    {% elif forecast.wind.deg >= 22.5 and forecast.wind.deg < 67.5 %}
                    북동
                    {% elif forecast.wind.deg >= 67.5 and forecast.wind.deg < 112.5 %}
                    동
                    {% elif forecast.wind.deg >= 112.5 and forecast.wind.deg < 157.5 %}
                    남동
                    {% elif forecast.wind.deg >= 157.5 and forecast.wind.deg < 202.5 %}
                    남
                    {% elif forecast.wind.deg >= 202.5 and forecast.wind.deg < 247.5 %}
                    남서
                    {% elif forecast.wind.deg >= 247.5 and forecast.wind.deg < 292.5 %}
                    서
                    {% elif forecast.wind.deg >= 292.5 and forecast.wind.deg < 337.5 %}
                    북서
                    {% endif %}
                    {{ forecast.wind.speed }}m/s</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</ul>
</body>
</html>

{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/mountains_weather.css' %}">
{% endblock style %}

{% block content %}
<div class="mountain__weather--wrap">
  <h2 class="mountain__weather--title">{{ mountain.name }} 5일 예보(3시간 간격)</h2>
  <section>
    <div class="mountain__daybox--wrap">
        <ul class="d-flex flex-row">
            {% for date, data in daily_data.items %}
                <li class="weather__day--selectbtn">
                    <button>{{ date }}</button>
                </li>
            {% endfor %}
        </ul>

        <div class="weather__content--wrap">
            {% for date, forecasts in daily_data.items %}
                {% if forloop.counter == 1 %}
                {% comment %} 오늘 {% endcomment %}
                    <div id="day1weather" class="weather__content">
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    {% for forecast in forecasts %}
                                        <th>{{ forecast.dt_txt }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>날씨</td>
                                    {% for forecast in forecasts %}
                                        <td>
                                            <img id="weather-icon" src="http://openweathermap.org/img/wn/{{ forecast.weather.0.icon }}.png"
                                                alt="{{ forecast.weather.0.description }}" />
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>기온</td>
                                    {% for forecast in forecasts %}
                                        <td>{{ forecast.main.temp|floatformat:0 }}°C</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>습도</td>
                                    {% for forecast in forecasts %}
                                    <td>{{ forecast.main.humidity }}%</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>강수확률</td>
                                    {% for forecast in forecasts %}
                                        <td>{{ forecast.pop }}%</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>강수량</td>
                                    {% for forecast in forecasts %}
                                        <td>
                                            {% if forecast.rain %}
                                                {{ forecast.rain.3h }}mm
                                            {% else %}
                                                - mm
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>바람</td>
                                    {% for forecast in forecasts %}
                                        <td>{{ forecast.wind.deg }} {{ forecast.wind.speed }}m/s</td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if forloop.counter == 2 %}
                {% comment %} 1일 뒤 {% endcomment %}
                    <div id="day2weather" class="weather__content">
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    {% for forecast in forecasts %}
                                        <th>{{ forecast.dt_txt }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>날씨</td>
                                    {% for forecast in forecasts %}
                                        <td>
                                            <img id="weather-icon" src="http://openweathermap.org/img/wn/{{ forecast.weather.0.icon }}.png"
                                                alt="{{ forecast.weather.0.description }}" />
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>기온</td>
                                    {% for forecast in forecasts %}
                                        <td>{{ forecast.main.temp|floatformat:0 }}°C</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>습도</td>
                                    {% for forecast in forecasts %}
                                    <td>{{ forecast.main.humidity }}%</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>강수확률</td>
                                    {% for forecast in forecasts %}
                                        <td>{{ forecast.pop }}%</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>강수량</td>
                                    {% for forecast in forecasts %}
                                        <td>
                                            {% if forecast.rain %}
                                                {{ forecast.rain.3h }}mm
                                            {% else %}
                                                - mm
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>바람</td>
                                    {% for forecast in forecasts %}
                                        <td>{{ forecast.wind.deg }} {{ forecast.wind.speed }}m/s</td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if forloop.counter == 3 %}
                {% comment %} 2일 뒤 {% endcomment %}
                    <div id="day3weather" class="weather__content">
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    {% for forecast in forecasts %}
                                        <th>{{ forecast.dt_txt }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>날씨</td>
                                    {% for forecast in forecasts %}
                                        <td>
                                            <img id="weather-icon" src="http://openweathermap.org/img/wn/{{ forecast.weather.0.icon }}.png"
                                                alt="{{ forecast.weather.0.description }}" />
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>기온</td>
                                    {% for forecast in forecasts %}
                                        <td>{{ forecast.main.temp|floatformat:0 }}°C</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>습도</td>
                                    {% for forecast in forecasts %}
                                    <td>{{ forecast.main.humidity }}%</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>강수확률</td>
                                    {% for forecast in forecasts %}
                                        <td>{{ forecast.pop }}%</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>강수량</td>
                                    {% for forecast in forecasts %}
                                        <td>
                                            {% if forecast.rain %}
                                                {{ forecast.rain.3h }}mm
                                            {% else %}
                                                - mm
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>바람</td>
                                    {% for forecast in forecasts %}
                                        <td>{{ forecast.wind.deg }} {{ forecast.wind.speed }}m/s</td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if forloop.counter == 4 %}
                {% comment %} 3일뒤 {% endcomment %}
                    <div id="day4weather" class="weather__content">
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    {% for forecast in forecasts %}
                                        <th>{{ forecast.dt_txt }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>날씨</td>
                                    {% for forecast in forecasts %}
                                        <td>
                                            <img id="weather-icon" src="http://openweathermap.org/img/wn/{{ forecast.weather.0.icon }}.png"
                                                alt="{{ forecast.weather.0.description }}" />
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>기온</td>
                                    {% for forecast in forecasts %}
                                        <td>{{ forecast.main.temp|floatformat:0 }}°C</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>습도</td>
                                    {% for forecast in forecasts %}
                                    <td>{{ forecast.main.humidity }}%</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>강수확률</td>
                                    {% for forecast in forecasts %}
                                        <td>{{ forecast.pop }}%</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>강수량</td>
                                    {% for forecast in forecasts %}
                                        <td>
                                            {% if forecast.rain %}
                                                {{ forecast.rain.3h }}mm
                                            {% else %}
                                                - mm
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>바람</td>
                                    {% for forecast in forecasts %}
                                        <td>{{ forecast.wind.deg }} {{ forecast.wind.speed }}m/s</td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if forloop.counter == 5 %}
                {% comment %} 4일뒤 {% endcomment %}
                    <div id="day5weather" class="weather__content">
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    {% for forecast in forecasts %}
                                        <th>{{ forecast.dt_txt }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>날씨</td>
                                    {% for forecast in forecasts %}
                                        <td>
                                            <img id="weather-icon" src="http://openweathermap.org/img/wn/{{ forecast.weather.0.icon }}.png"
                                                alt="{{ forecast.weather.0.description }}" />
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>기온</td>
                                    {% for forecast in forecasts %}
                                        <td>{{ forecast.main.temp|floatformat:0 }}°C</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>습도</td>
                                    {% for forecast in forecasts %}
                                    <td>{{ forecast.main.humidity }}%</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>강수확률</td>
                                    {% for forecast in forecasts %}
                                        <td>{{ forecast.pop }}%</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>강수량</td>
                                    {% for forecast in forecasts %}
                                        <td>
                                            {% if forecast.rain %}
                                                {{ forecast.rain.3h }}mm
                                            {% else %}
                                                - mm
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>바람</td>
                                    {% for forecast in forecasts %}
                                        <td>{{ forecast.wind.deg }} {{ forecast.wind.speed }}m/s</td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if forloop.counter == 6 %}
                {% comment %} 5일뒤 {% endcomment %}
                    <div id="day6weather" class="weather__content">
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    {% for forecast in forecasts %}
                                        <th>{{ forecast.dt_txt }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>날씨</td>
                                    {% for forecast in forecasts %}
                                        <td>
                                            <img id="weather-icon" src="http://openweathermap.org/img/wn/{{ forecast.weather.0.icon }}.png"
                                                alt="{{ forecast.weather.0.description }}" />
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>기온</td>
                                    {% for forecast in forecasts %}
                                        <td>{{ forecast.main.temp|floatformat:0 }}°C</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>습도</td>
                                    {% for forecast in forecasts %}
                                    <td>{{ forecast.main.humidity }}%</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>강수확률</td>
                                    {% for forecast in forecasts %}
                                        <td>{{ forecast.pop }}%</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>강수량</td>
                                    {% for forecast in forecasts %}
                                        <td>
                                            {% if forecast.rain %}
                                                {{ forecast.rain.3h }}mm
                                            {% else %}
                                                - mm
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>바람</td>
                                    {% for forecast in forecasts %}
                                        <td>{{ forecast.wind.deg }} {{ forecast.wind.speed }}m/s</td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

  </section>
</div>
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/mountains_weather.js' %}"></script>
{% endblock javascript %}
