{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/mountains_weather.css' %}">
{% endblock style %}

{% block content %}
<div class="mountain__weather--wrap">
  <h2 class="mountain__weather--title"><span class="mountain__weather--title2">{{ mountain.name }}</span> 중기예보</h2>
  <section>
    <div class="mountain__daybox--wrap">
      <ul class="d-flex flex-row">
          {% for date, data in daily_data.items %}
              <li class="weather__day--selectbtn">
                  <button id="btn-{{date}}">{{ date }}</button>
              </li>
          {% endfor %}
      </ul>

      <div class="weather__content--wrap">
        {% for date, forecasts in daily_data.items %}
        <div id="weather-{{date}}" class="weather__content" style="display: none;">
          <table>
            <thead>
              <tr>
                <th></th>
                {% for forecast in forecasts %}
                <th>{{ forecast.dt_txt }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>날씨</th>
                {% for forecast in forecasts %}
                <td>
                  <div class="weather__content--imgbox">
                    <img id="weather-icon" class="weather__content--img"
                      src="http://openweathermap.org/img/wn/{{ forecast.weather.0.icon }}.png"
                      alt="{{ forecast.weather.0.description }}" />
                  </div>
                </td>
                {% endfor %}
              </tr>
              <tr>
                <th>기온</th>
                {% for forecast in forecasts %}
                <td>{{ forecast.main.temp|floatformat:0 }}°C</td>
                {% endfor %}
              </tr>
              <tr>
                <th>습도</th>
                {% for forecast in forecasts %}
                <td>{{ forecast.main.humidity }}%</td>
                {% endfor %}
              </tr>
              <tr>
                <th>강수확률</th>
                {% for forecast in forecasts %}
                <td>{{ forecast.pop }}%</td>
                {% endfor %}
              </tr>
              <tr>
                <th>강수량</th>
                {% for forecast in forecasts %}
                <td>
                  {% if forecast.rain %}
                  {{ forecast.rain.3h }}mm
                  {% else %}
                  - mm
                  {% endif %}
                </td>
                {% endfor %}
              </tr>
              <tr>
                <th>바람</th>
                {% for forecast in forecasts %}
                <td>{{ forecast.wind.deg }} {{ forecast.wind.speed }}m/s</td>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <p style="margin-left: 10px; margin-top: 10px;">* 현재시간 기준 3시간 간격</p>
</div>
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/mountains_weather.js' %}"></script>
{% endblock javascript %}
