<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-jiD9pPX4K+98pCcPGc9ybWvl4l32no/1+y/s7jDz39yJZ+8KJf8y6rjK0EP7vMaF" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>orda</title>
  <style>
    @font-face {
      font-family: 'GangwonEdu_OTFBoldA';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }
    .orda {
      font-family: 'GangwonEdu_OTFBoldA';
    }
  </style>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/main_index.css' %}">
  <link rel="stylesheet" href="{% static 'css/topbutton.css' %}">
</head>
<body>
  <header class='header__wrap'>
    <div class='header__box'>
      <p class='header__box__p orda text-2xl'>누구나 등산을 즐길 수 있도록</p>
      <p class='header__box__p orda text-2xl'>당신에게 맞는 길을 찾아주는</p>
      <p class='mt-3 header__box__p--size orda text-5xl'>"오르다"</p>
    </div>
    <div  class='header__box1'>
      <img class='header__box1__img' src="{% static 'img/index_header1.png' %}" alt="forest">
    </div>
  </header>

  <nav class='nav__box' id='main-nav'>
    <header style="position: sticky; top: 0; z-index: 1000;">
      <div style="height: 100%; background-color: #FFFFFF; border-bottom:#0B6623 solid 10px;">
        <div class="mx-auto w-100 p-4 py-3 py-2-lg" style="max-width: 1400px;">
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <div style="height:75px;">
                <a href="{% url 'mountains:mountain_list' %}"><img class='header__logo--img small--hidden' src="{% static 'img/logo_long.png' %}" alt="ordalogo"></a>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center align-items-xl-end flex-column flex-xl-row">
              <div class="d-flex align-items-end fs-5 hearder__btn--box" >
                <a href="{% url 'mountains:search' %}" class="{% if '/search/' in request.path %} active-button {% endif %} btn--hover mb-1 header__btn--margin">탐색</a>
                <a href="{% url 'mountains:mountain_list' %}" class="{% if request.resolver_match.url_name == 'mountain_list' %} active-button {% endif %} btn--hover mb-1 header__btn--margin">100대 명산</a>
                <a href="{% url 'mountains:course_all_list' %}" class="{% if '/courses/' in request.path %} active-button {% endif %} btn--hover mb-1 header__btn--margin">등산로</a>
                <a href="{% url 'posts:index' %}" class="{% if request.resolver_match.view_name == 'posts:index' %} active-button {% endif %} btn--hover mb-1 header__btn--margin">마이코스</a>
                <a href="{% url 'posts:proofshot' %}" class="{% if '/proofshot/' in request.path %} active-button {% endif %} btn--hover mb-1 header__btn--margin">인증샷</a>
              </div>
              <div class="d-flex align-items-end hearder__search--box">
                <div class="rounded-pill d-flex mb-1" style="border:var(--main-color) 3px solid; background-color:white">
                  <i class="bi bi-search align-self-center ps-3"></i>  
                  <form action="{% url 'mountains:mountain_list' %}" method="POST">
                    {% csrf_token %}
                    <input class="rounded-pill header__search--text py-2 ps-4 pe-5"  type="text" name="search_query" placeholder="무엇을 찾으시나요?" style="width: 400px">
                    <button type="submit" hidden></button>
                  </form>
                </div>
              </div>
            </div>
              <div class="d-flex align-items-end mb-2">
                <div class="d-flex">
                  {% if user.is_authenticated %}
                  <form action="{% url 'accounts:logout' %}" method="POST">
                    {% csrf_token %}
                    <button id="로그아웃" type="submit" class="fs-5">로그아웃</button>
                  </form>
                  {% else %}
                    <a id="로그인" class="{% if active_button_id == '로그인' %}active-button{% endif %} fs-5 me-3" href="{% url 'accounts:login' %}">로그인</a>
                    <a id="회원가입" class="{% if active_button_id == '회원가입' %}active-button{% endif %} fs-5" href="{% url 'accounts:signup' %}">회원가입</a>
                  {% endif %}                  
                </div>
              </div>
            </div>
          </div>
        </div>
    </header>
  </nav>


  <article>
    <div class='article__divbox'>
      <p class='article__p'>나에게 딱 맞는 산을 찾고있다면?</p>
      <img class='article__icon' src="{% static 'img/icons/search.png' %}" alt="">
      <P class='article__p--strong'>키워드 검색으로 찾으로 가기!</P>
      <a href="{% url 'mountains:search' %}"><button class='rounded-full article__btn'>탐색</button></a>
    </div>
  
    <div class='article__divbox--color'>
      <P class='article__p'>내가 원하는 등산로만 보고싶다면?</P>
      <img class='article__icon' src="{% static 'img/icons/road.png' %}" alt="">
      <P class='article__p--strong'>등산로를 한눈에!</P>
      <a href="{% url 'mountains:course_all_list' %}"><button class='rounded-full article__btn2'>등산로</button></a> 
  </div>
  
    <div class='article__divbox'>
      <P class='article__p'>정상을 갔다면?</P>
     <img class='article__icon' src="{% static 'img/icons/summit.png' %}" alt="">
      <P class='article__p--strong'>내가 다녀온 후기는 공유해보세요</P>
      <a href="{% url 'posts:index' %}"><button class='rounded-full article__btn'>공유</button></a>
    </div>
  
    <div class='article__divbox--color'>
      <P class='article__p'>인증샷을 찍었다면?</P>
      <img class='article__icon header__div__img' src="{% static 'img/icons/selfie.png' %}" alt="">
      <P class='article__p--strong'>추억을 공유해보세요</P>
      <a href="{% url 'posts:proofshot' %}"><button class='rounded-full article__btn2'>인증샷</button></a>
    </div>
  </article>

  {% include 'topbotton.html' %}


  <footer>
    {% include 'footer.html' %}
  </footer>
  

  <script src="{% static 'js/main_index.js' %}"></script>
  <script src="{% static 'js/topbutton.js' %}"></script>
</body>
</html>