<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
  <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>
</head>
<body>
  <form action="{% url 'posts:create' %}" method="POST">
    {% csrf_token %} 
    {{ form.title }}
    <textarea id="content"></textarea><br>
    <input type="submit" value='작성'>
    <input type="submit" value="뒤로가기" onclick=window.history.back()>
  </form> 
</body>
<script>
  ClassicEditor
    .create(document.querySelector('#content'), {
      language: 'ko',
    })
    .catch(error => {
      console.error(error);
    });
</script>
</html>