{% extends "base.html" %}
{% load static %}
{% block style %}
  {% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
  <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script> {% endcomment %}
<style>

</style>
<link rel="stylesheet" href="{% static 'css/posts_detail.css' %}">
{% comment %} <link rel="stylesheet" href="{% static 'css/posts_create.css' %}"> {% endcomment %}
{% endblock style %}
{% block content %}
<div class="post__wrap">
  {% comment %} 제목 {% endcomment %}
  <div class="title__wrap">
    {{ post.title }}
  </div>

  {% comment %} 유저 정보 + 팔로우 {% endcomment %}
  <div class="post__userdata__wrap">
    <div class="post__userdata--box">
      <div>
        <a href="{% url 'accounts:profile' post.user.pk %}">
          {% if person.profile_img %}
          <img class="user__img" src="{% static 'img/profile_no_img.png' %}" alt="">
          {% else %}
          <img class="user__img" src="{{ post.user.profile_img.url }}" alt="{{ post.user }}프로필">
          {% endif %}
      </div>
      <div class="post__user--box">
        <p style="font-weight: bold;">{{ post.user }}</p>
      </a>
      <div class="post__data--box">
        <p> {{ post.updated_at|date:'Y. m. d. h. i'}} |&nbsp;</p>          
        {% if request.user == post.user %}
        <a href="{% url 'posts:update' post.pk %}">수정 |&nbsp;</a>
        <form action="{% url 'posts:delete' post.pk %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="삭제">
        </form>
        {% endif %}
      </div>
      </div>
    </div>
    
    <div>
      {% comment %} 팔로우 {% endcomment %}
      {% if request.user != post.user %}
        {% comment %} <form action="{% url 'accounts:follow' post.user.pk %}" method="POST"> {% endcomment %}
        <form id="follow-form" data-user-id="{{ post.user.pk }}">
          {% csrf_token %}
          {% if request.user in post.user.followers.all %}
            <input type="submit" class="follw__btn rounded btn__hover" value="팔로잉">
          {% else %}
            <input type="submit" class="follw__btn rounded btn__hover" value="팔로워">
          {% endif %}
        </form>
      {% endif %}
    </div>
  </div>

    
  {% comment %} ck에디터 출력부분/ 사진 크기 조정 미완성 {% endcomment %}
  <div class="content__wrap">
    {% comment %} 특수문자 그대로 출력 |safe {% endcomment %}
    {{ post.content|safe }}
  </div>

   

  {% comment %} <a href="javascript:history.back()"><button>뒤로 가기</button></a> {% endcomment %}


  {% comment %} 댓글 {% endcomment %}
  <div id="comment-section">
    <div class="comment__top--text">댓글 <span style="color:var(--main-color)" id="post_comments">{{ post.postcomment_set.count }}</span>
    </div>
    <form class="comment-form" action="{% url 'posts:comment_create' post.pk %}" method="POST">
      {% csrf_token %} 
      <div class="flex--d-row flex--align-c container">
        <div class="col-1">
          <img src="{% static 'img/profile_no_img.png' %}" class="user__img" alt="no">
        </div>
        <div class="comment__inputbox rounded col-11">
          <div id="comment-content-id" style="width: 90%;">{{ postcomment_form.content }}</div>
          <button type="submit" id="comment-submit-btn">작성</button>
        </div>
      </div>
    </form>


    <ul class="comments__wrap">
      {% for postcomment in postcomments %}
        <li id="comment-{{ postcomment.pk }}" class="container mb-2" style="list-style: none;">
          <div class="flex--d-row">
            <div class="col-1">
              <img src="{{ postcomment.user.profile_img.url }}" class="user__img" alt="{{ postcomment.user }}의 프로필">
            </div>
            <div class="flex--d-col col-11">
              <div class="flex--d-row flex--between">
                <p style="font-weight:bold;">{{ postcomment.user.username }}</p>
                {% if request.user.is_authenticated and request.user == postcomment.user %}
                  <div class="dropdown">
                    <button type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <form action="{% url 'posts:comment_delete' post.pk postcomment.pk %}" method="POST">
                          {% csrf_token %}
                          <button type="submit" class="dropdown-item delete-comment-btn" data-comment-id="{{ postcomment.pk }}"  data-post-id="{{post.pk}}">삭제</button>
                        </form>
                      </li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                    </ul>
                  </div>
                {% endif %} 
              </div>

              {% comment %} 싫어요가 10이상이면 보기 버튼 나오게 하기 {% endcomment %}
              <button class="comment-toggle-btn" {% if postcomment.dislike_users.count < 10 %}
              style="display: none;" {% endif %} id="comment-toggle-{{postcomment.pk}}" data-comment-id="{{ postcomment.pk }}">[보기]</button>
              <p class="comment__context {% if postcomment.dislike_users.count >= 10 %}
              hidden {% endif %}" id="comment-content-{{postcomment.pk}}"> {{ postcomment.content }}</p>
              <div class="flex--d-row">          
                {% comment %} <form action="{% url 'posts:comment_likes' post.pk postcomment.pk %}" method="POST"> {% endcomment %}
                <form class="comment-like-form" id="like-form-{{postcomment.pk}}" data-post-id="{{post.pk}}" data-comment-id="{{postcomment.pk}}">
                  {% csrf_token %} 
                  {% if request.user in postcomment.like_users.all %}
                    <button type="submit" id='like-{{ postcomment.pk }}'  class="bi bi-hand-thumbs-up-fill like__hover text-primary"></button>
                  {% else %}
                    <button type="submit" id='like-{{ postcomment.pk }}' class="bi bi-hand-thumbs-up like__hover" {% if request.user in postcomment.dislike_users.all %}
                    disabled {% endif %}></button>
                  {% endif %}
                  <span class="me-3" id="cl_likes_count_{{postcomment.pk}}">
                    {{ postcomment.like_users.count }}
                  </span>
                </form>
              
                {% comment %} <form action="{% url 'posts:comment_dislikes' post.pk postcomment.pk %}" method="POST"> {% endcomment %}
                <form class="comment-dislike-form" id="like-form-{{postcomment.pk}}" data-post-id="{{post.pk}}" data-comment-id="{{postcomment.pk}}">
                  {% csrf_token %} 
                  {% if request.user in postcomment.dislike_users.all %}
                    <button type="submit" id='dislike-{{ postcomment.pk }}' class="bi bi-hand-thumbs-down-fill text-danger like__hover"></button>
                  {% else %}
                    <button type="submit" id='dislike-{{ postcomment.pk }}'  class="bi bi-hand-thumbs-down like__hover" {% if request.user in postcomment.like_users.all %}
                    disabled {% endif %}></button>
                  {% endif %}
                  <span class="me-3" id="cd_likes_count_{{postcomment.pk}}">
                    {{ postcomment.dislike_users.count }}
                  </span>
                </form>
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>

    <hr>

    {% comment %} 앞뒤 게시글 2개 {% endcomment %}
    <div class="posts__wrap container rounded">
      <div class="row">
        {% for post in posts %}
        <div class="col-6 col-md-3">
          {{post.title}}
        </div>
        {% endfor %}
      </div>
    </div>
    
</div>
</div>


{% endblock content %}

{% block ect %}

{% comment %} 창 줄이기 전 좋아요 + 댓글 위치 {% endcomment %}
<div class="post__btn__wrap">
  <form class="like-form" data-post-id="{{ post.pk }}">
    {% csrf_token %}
      {% if request.user in post.like_users.all %}
      <button type="submit" class="like__btn--style bi bi-heart-fill heart--color like__hover icon--size" id="like-btn"></button>
      {% else %}
      <button type="submit" class="like__btn--style bi bi-heart like__hover icon--size" id="like-btn"></button>
      {% endif %}
      <div id="like-count" class="text-center">{{ post.like_users.count }}</div> 
  </form>   
  <div class="flex--d-col flex--between">
    <button type="submit" id="go-comment-section" class="like__btn--style icon--size"><i class="bi bi-chat-square-dots like__hover"></i></button>
    <div class="text-center">{{ post.postcomment_set.count }}</div>
  </div>
  </div>

{% endblock ect %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

  
</script>
<script src="{% static 'js/post_detail.js' %}"></script>
{% comment %} <script src="{% static 'js/ckeditor.js' %}"></script> {% endcomment %}
{% endblock javascript %}
