{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load humanize %}
{% block style %}
  {% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
  <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script> {% endcomment %}
<link rel="stylesheet" href="{% static 'css/posts_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/posts_index.css' %}">
<link rel="stylesheet" href="{% static 'css/level.css' %}">
{% comment %} <link rel="stylesheet" href="{% static 'css/posts_create.css' %}"> {% endcomment %}
{% endblock style %}
{% block content %}
<div class="post__wrap">
  {% comment %} 제목 {% endcomment %}
  <a href="{% url 'mountains:mountain_detail' pk=post.mountain.pk %}" class="ms-2 mtn__title">{{ post.mountain.name }}</a>
  <div class="title__wrap">
    {{ post.title }}
  </div>


  {% comment %} 유저 정보 + 팔로우 {% endcomment %}
  <div class="post__userdata__wrap">
    <div class="post__userdata--box">
      <div class="me-3">
        <a href="{% url 'accounts:profile' post.user.pk %}">
          <div class="user__imgbox">
            {% if post.user.profile_img %}
              <img class="user__img {% if post.user.level == 2 %}level2 {% elif post.user.level == 3 %}level3 {% elif post.user.level == 4 %}level4 {% elif post.user.level == 5 %}level5 {% endif %}" src="{{ post.user.profile_img.url }}" alt="{{ post.user }}프로필">
              {% if post.user.level == 5 %}
                <img class="level5--img" src="{% static 'img/crown.png' %}" alt="level5">
              {% endif %}
            {% else %}
              <img class="user__img {% if post.user.level == 2 %}level2 {% elif post.user.level == 3 %}level3 {% elif post.user.level == 4 %}level4 {% elif post.user.level == 5 %}level5 {% endif %}" src="{% static 'img/profile_no_img.png' %}" alt="no">
              {% if post.user.level == 5 %}
                <img class="level5--img" src="{% static 'img/crown.png' %}" alt="level5">
              {% endif %}
            {% endif %}
          </div>
      </div>
      <div class="post__user--box">
        <p style="font-weight: bold;">{{ post.user.nickname  }}</p>
        </a>
        <div class="post__data--box">
          <p> {{ post.updated_at|date:'Y. m. d. h. i'}} &nbsp;</p>         
          {% if request.user == post.user %}
          <a href="{% url 'posts:update' post.pk %}">수정 |&nbsp;</a>
          <form action="{% url 'posts:delete' post.pk %}" method="POST" id="delete-form">
            {% csrf_token %}
            <input type="submit" value="삭제">
          </form>
          {% endif %}    
        </div>
      </div>
    </div>
    
    <div>
      {% comment %} 팔로우 {% endcomment %}
      {% if request.user != post.user %}
        {% comment %} <form action="{% url 'accounts:follow' post.user.pk %}" method="POST"> {% endcomment %}
        <form id="follow-form" data-user-id="{{ post.user.pk }}">
          {% csrf_token %}
          {% if request.user in post.user.followers.all %}
            <input type="submit" class="follw__btn rounded btn__hover" value="팔로우 취소">
          {% else %}
            <input type="submit" class="follw__btn rounded btn__hover" value="팔로우">
          {% endif %}
        </form>
      {% endif %}
    </div>
  </div>

  {% comment %} ck에디터 출력부분/ 사진 크기 조정 미완성 {% endcomment %}
  <div class="content__wrap">
    {% comment %} 특수문자 그대로 출력 |safe {% endcomment %}
    {{ post.content|safe }}
  </div>

  {% comment %} <a href="javascript:history.back()"><button>뒤로 가기</button></a> {% endcomment %}

  {% comment %} 댓글 {% endcomment %}
  <div id="comment-section">
    <div class="comment__top--text">댓글 <span style="color:var(--main-color)" id="post_comments">{{ post.postcomment_set.count }}</span>
    </div>
    <form class="comment-form" action="{% url 'posts:comment_create' post.pk %}" method="POST">
      {% csrf_token %} 
      <div class="flex--d-row flex--align-c container">
        <div class="col-1">
          <div class="user__imgbox">
            <img src="{% static 'img/profile_no_img.png' %}" class="user__img" alt="no">
          </div>
        </div>
        <div class="comment__inputbox rounded col-11">
          <div id="comment-content-id" style="width: 90%;">{{ postcomment_form.content }}</div>
          <button type="submit" id="comment-submit-btn">작성</button>
        </div>
      </div>
    </form>

    <ul class="comments__wrap">
      {% for postcomment in postcomments %}
        <li id="comment-{{ postcomment.pk }}" class="container mb-2" style="list-style: none;">
          <div class="flex--d-row">
            <div class="col-1">

              {% comment %} 프로필 이미지 {% endcomment %}
              <a href="{% url 'accounts:profile' postcomment.user.pk %}">
                {% if postcomment.user.profile_img %}
                <div class="user__imgbox">
                  <img class="user__img {% if postcomment.user.level == 2 %}level2 {% elif postcomment.user.level == 3 %}level3 {% elif postcomment.user.level == 4 %}level4 {% elif postcomment.user.level == 5 %}level5 {% endif %}" src="{{ postcomment.user.profile_img.url }}" alt="{{ post.user  }}프로필">
                  {% if postcomment.user.level == 5 %}
                    <img class="level5--img" src="{% static 'img/crown.png' %}" alt="level5">
                  {% endif %}
                {% else %}
                  <img class="user__img {% if postcomment.user.level == 2 %}level2 {% elif postcomment.user.level == 3 %}level3 {% elif postcomment.user.level == 4 %}level4 {% elif postcomment.user.level == 5 %}level5 {% endif %}" src="{% static 'img/profile_no_img.png' %}" alt="no">
                  {% if postcomment.user.level == 5 %}
                    <img class="level5--img" src="{% static 'img/crown.png' %}" alt="level5">
                  {% endif %}
                {% endif %}
                </div>
              </a>
            </div>
            <div class="flex--d-col col-11">
              <div class="flex--d-row flex--between">
                <p style="font-weight:bold;">{{ postcomment.user.nickname  }}</p>
                {% if request.user.is_authenticated and request.user == postcomment.user %}
                  <div class="flex--d-row text--subcolor">
                    <button class="edit-comment-button" data-comment-id="{{ postcomment.pk }}">수정  &nbsp;</button> 
                    <form action="{% url 'posts:comment_delete' post.pk postcomment.pk %}" method="POST">
                      {% csrf_token %}
                      <button type="submit" class="dropdown-item delete-comment-btn" data-comment-id="{{ postcomment.pk }}"  data-post-id="{{post.pk}}">삭제</button>
                    </form>
                  </div>
                {% endif %} 
                
              </div>
              
              {% comment %} 싫어요가 10이상이면 보기 버튼 나오게 하기 {% endcomment %}
              <button class="comment-toggle-btn" {% if postcomment.dislike_users.count < 10 %}
              style="display: none;" {% endif %} id="comment-toggle-{{postcomment.pk}}" data-comment-id="{{ postcomment.pk }}">[보기]</button>
              <p class="comment__context {% if postcomment.dislike_users.count >= 10 %}
              hidden {% endif %}" id="comment-content-{{postcomment.pk}}"> {{ postcomment.content }}</p>
              <span style="font-size: 12px;">
                {% if postcomment.created_at|date:"Y-m-d" >= now|date:"Y-m-d" %}
                  {{ postcomment.created_at|naturaltime }}
                {% else %}
                  {{ postcomment.created_at|date:"Y-m-d" }}
                {% endif %}
              </span>

              {% comment %} 댓글 수정 {% endcomment %}
        
              <div id="comment-edit-form-{{ postcomment.pk }}" class="comment-update-form" style="display: none;">
                <form class="edit-comment-form w-full flex--d-row flex--between py-2 px-1" action="{% url 'posts:comment_update' post.pk postcomment.pk %}" method="POST" data-comment-id="{{ postcomment.pk }}">
                  {% csrf_token %}
                  <input type="text" name="content" class="focus:outline-none w-11/12 rounded-lg bg-gray-200 px-2 py-1" value="{{ postcomment.content }}">
                  <button type="submit">수정</button>
                </form>
              </div>
            
              {% comment %} 댓글 좋아요 {% endcomment %}
              <div class="flex--d-row">          
                <form class="comment-like-form" id="like-form-{{postcomment.pk}}" data-post-id="{{post.pk}}" data-comment-id="{{postcomment.pk}}">
                  {% csrf_token %} 
                  {% if request.user in postcomment.like_users.all %}
                    <button type="submit" id='like-{{ postcomment.pk }}'  class="bi bi-hand-thumbs-up-fill like__hover text-primary"></button>
                  {% else %}
                    <button type="submit" id='like-{{ postcomment.pk }}' class="bi bi-hand-thumbs-up like__hover" {% if request.user in postcomment.dislike_users.all %}
                    disabled {% endif %}></button>
                  {% endif %}
                  <span class="me-3" id="cl_likes_count_{{postcomment.pk}}">
                    {{ postcomment.like_users.count }}
                  </span>
                </form>
              
                {% comment %} <form action="{% url 'posts:comment_dislikes' post.pk postcomment.pk %}" method="POST"> {% endcomment %}
                <form class="comment-dislike-form" id="like-form-{{postcomment.pk}}" data-post-id="{{post.pk}}" data-comment-id="{{postcomment.pk}}">
                  {% csrf_token %} 
                  {% if request.user in postcomment.dislike_users.all %}
                    <button type="submit" id='dislike-{{ postcomment.pk }}' class="bi bi-hand-thumbs-down-fill text-danger like__hover"></button>
                  {% else %}
                    <button type="submit" id='dislike-{{ postcomment.pk }}'  class="bi bi-hand-thumbs-down like__hover" {% if request.user in postcomment.like_users.all %}
                    disabled {% endif %}></button>
                  {% endif %}
                  <span class="me-3" id="cd_likes_count_{{postcomment.pk}}">
                    {{ postcomment.dislike_users.count }}
                  </span>
                </form>
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>

    <hr>

    {% comment %} 앞뒤 게시글 2개 {% endcomment %}
    <div class="posts__wrap container rounded">
      <div class="row">
        {% for post in posts %}
        <div class="col-6 col-md-3">
          <div class="item">
            <a href="{% url 'posts:detail' post.pk %}">
              <div class="postindex__post">
                <div class="postindex__post--imgbox">
                  {% with first_image_url=post.content|get_first_image_from_content %}
                    {% if first_image_url %}
                      <img class="postindex__post--img" src="{{ first_image_url }}" alt="썸네일">
                    {% else %}
                      <img class="postindex__post--img" src="{% static 'img/nav_logo.png' %}" alt="대체이미지">
                    {% endif %}
                  {% endwith %}
                  <button class="postindex__post--like" data-post={{ post.pk }}>
                    <svg id="i-heart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="{% if request.user in post.like_users.all %}#FFB6C1{% else %}#DBDBDB{% endif %}" stroke="#FFB6C1" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                      <path d="M4 16 C1 12 2 6 7 4 12 2 15 6 16 8 17 6 21 2 26 4 31 6 31 12 28 16 25 20 16 28 16 28 16 28 7 20 4 16 Z" />
                    </svg>
                  </button>
                </div>
                <div>
                  <p class="postindex__post--title">{{ post.title }}</p>
                  <div class="postindex__post--user">
                    <div class="postindex__post--userimgbox">
                      {% if post.user.profile_img %}
                        <img class="postindex__post--userimg {% if post.user.level == 2 %}level2 {% elif post.user.level == 3 %}level3 {% elif post.user.level == 4 %}level4 {% elif post.user.level == 5 %}level5 {% endif %}" src="{{ post.user.profile_img.url }}" alt="유저프로필">
                        {% if post.user.level == 5 %}
                          <img class="level5--img" src="{% static 'img/crown.png' %}" alt="level5">
                        {% endif %}
                      {% else %}
                        <img class="postindex__post--userimg {% if post.user.level == 2 %}level2 {% elif post.user.level == 3 %}level3 {% elif post.user.level == 4 %}level4 {% elif post.user.level == 5 %}level5 {% endif %}" src="{% static 'img/profile_no_img.png' %}" alt="대체프로필">
                        {% if post.user.level == 5 %}
                          <img class="level5--img" src="{% static 'img/crown.png' %}" alt="level5">
                        {% endif %}
                      {% endif %}
                    </div>
                    <p class="postindex__post--username">{{ post.user.nickname  }}</p>
                  </div>
                  <div class="postindex__post--stat">
                    <div>
                      <span class="postindex__post--likecount" data-like={{ post.pk }}>좋아요 {{ post.like_users.count }}</span>
                      <span>조회수 {{ post.view_count }}</span>
                    </div>
                    <p>{{ post.created_at|date:"y. m. d" }}</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    
</div>
</div>
{% endblock content %}
{% block ect %}
{% comment %} 창 줄이기 전 좋아요 + 댓글 위치 {% endcomment %}
<div class="post__btn__wrap">
  <form class="like-form" data-post-id="{{ post.pk }}">
    {% csrf_token %}
      {% if request.user in post.like_users.all %}
      <button type="submit" class="like__btn--style bi bi-heart-fill heart--color like__hover icon--size" id="like-btn"></button>
      {% else %}
      <button type="submit" class="like__btn--style bi bi-heart like__hover icon--size" id="like-btn"></button>
      {% endif %}
      <div id="like-count" class="text-center">{{ post.like_users.count }}</div> 
  </form>   
  <div class="flex--d-col flex--between">
    <button type="submit" id="go-comment-section" class="like__btn--style icon--size"><i class="bi bi-chat-square-dots like__hover"></i></button>
    <div class="text-center">{{ post.postcomment_set.count }}</div>
  </div>
  </div>
{% endblock ect %}
{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  $(document).ready(function() {
    $('.edit-comment-button').click(function() {
      var commentId = $(this).data('comment-id');
      $('#comment-edit-form-' + commentId).toggle();
      $('#comment-' + commentId + ' .comment-content').toggle();
      $(this).toggle(); // Add this line to hide the edit button
    });

    $('.edit-comment-form w-full flex--d-row flex--between py-2 px-1').submit(function(event) {
      event.preventDefault();
      var commentId = $(this).data('comment-id');
      var content = $(this).find('input[name=content]').val();
      var form = $(this);

      $.ajax({
        type: 'POST',
        url: form.attr('action'),
        data: form.serialize(),
        success: function(response) {
          // Update the comment content
          $('#comment-' + commentId + ' .comment-content').text(content);
          // Show the edit button again
          $('.edit-comment-button[data-comment-id=' + commentId + ']').toggle();
          // Hide the edit form
          $('#comment-edit-form-' + commentId).toggle();
          $('#comment-' + commentId + ' .comment-content').toggle();
        },
        error: function(xhr, status, error) {
          console.error(xhr.responseText);
        }
      });
    });
  });
</script>
<script>
  ClassicEditor
    .create(document.querySelector('#content'), {
      language: 'ko',
    })
    .then(editor => {
      editor.model.document.on('change:data', () => {
        document.querySelector('#content').value = editor.getData();
      });
    })
    .catch(error => {
      console.error(error);
    });
</script>
<script>
  document.getElementById("delete-form").addEventListener("submit", function(event) {
    event.preventDefault();
    var confirmDelete = confirm("삭제하시겠습니까?");
    if (confirmDelete) {
      this.submit();
    }
  });
</script>
<script src="{% static 'js/post_detail.js' %}"></script>
{% comment %} <script src="{% static 'js/ckeditor.js' %}"></script> {% endcomment %}
{% endblock javascript %}
