{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
{% endblock style %}
{% block content %}
<div style="padding: 20px 60px;">
  <div class="container my-12 mx-auto px-4 md:px-12">
    <div class="flex flex-wrap -mx-1 lg:-mx-4">
      {% for post in image_posts %}
        <!-- Column -->
        <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3 xl:my-4 xl:px-4 xl:w-1/6">
          <!-- Article -->
            <article class="overflow-hidden rounded-lg shadow-lg">

                <a href="{% url 'posts:detail' post.pk %}">
                  {% with first_image_url=post.content|get_first_image_from_content %}
                    {% if first_image_url %}
                      <img class="block h-[300px] w-full object-cover"  src="{{ first_image_url }}" alt="썸네일">
                    {% endif %}
                  {% endwith %}
                </a>

                <header class="flex items-center justify-between leading-tight p-2 md:p-4">
                    <h1 class="text-lg truncate ...">
                        <a class="no-underline hover:underline text-black" href="{% url 'accounts:profile' post.user.pk %}">
                          {{ post.user.nickname }}
                        </a>
                      </h1>
                    <p class="text-grey-darker text-sm truncate ...">
                      {{ post.created_at|date:'Y-m-d' }}
                    </p>
                </header>
              </article>
            <!-- END Article -->
        </div>
        <!-- END Column -->
        {% endfor %}
      </div>
  </div>
</div>
{% endblock content %}
{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
{% comment %} <script src="{% static 'js/posts_index.js' %}"></script> {% endcomment %}
{% endblock javascript %}

    {% comment %} {% for post in view_posts %}
    <div class="item">
      <a href="{% url 'posts:detail' post.pk %}">
        <div class="postindex__post">
          <div class="postindex__post--imgbox">
            {% with first_image_url=post.content|get_first_image_from_content %}
              {% if first_image_url %}
                <img class="postindex__post--img" src="{{ first_image_url }}" alt="썸네일" style="width: 100%;">
              {% else %}
                <img class="postindex__post--img" src="{% static 'img/nav_logo.png' %}" alt="대체이미지">
              {% endif %}
            {% endwith %}
          </div>
        </div>
      </a>
    </div>
    {% endfor %} {% endcomment %}